div.terminus-object-frame div.terminus-object-header,
.terminus-client-header, .terminus-application-header {
	margin-bottom: 1em;
	background-color: #48f;
	color: white;
}

div.terminus-object-frame div.terminus-object-header {
	margin-top: 1em;
	padding: 4px;
}

div.terminus-object-properties {
	background-color: rgba(200, 230, 255, 0.1);
	padding-top: 4px;
	padding-bottom: 4px;
}

.terminus-application-control {
	padding-bottom: 1em;
}


div.terminus-object-frame select, 
select.terminus-class-select, select.terminus-form-select {
	padding: 6px 4px;	
}

div.terminus-object-frame select {
	margin-left: 2px;
	margin-right: 2px;
}

div.terminus-object-frame .terminus-frame-infobox-box {
	padding: 4px;
	margin: 0 4px;
}

div.terminus-object-frame input, 
input.terminus-form-value {
	padding: 6px 4px;
}

pre.terminus-schema-view {
	background-color: #eaf5ff;
	padding: 3px;
}

div.terminus-url-loader {
	max-width: 500px;
}

div.terminus-form-field {
	margin-bottom: 6px;
}

div.terminus-query-page {
	min-width: 800px;
}
textarea.terminus-query-box {
	width: 680px;
	height: 80px;
	margin: 10px auto;
}
div.terminus-control-buttons {
	max-width: 700px;
}

textarea.terminus-schema-edit {
	width: 1000px;
	height: 800px;
	padding: 6px;
}

textarea.terminus-db-description {
	width: 380px;
	height: 100px;
}

.terminus-db-creator {
	width: 500px;
}

input.terminus-form-url {
	width: 360px;
}

span.terminus-form-label {
	display: inline-block;
	min-width: 100px;
	padding-right: 6px;
	text-align: right;
}

div.terminus-control-buttons {
	text-align: right;
	padding-top: 6px;
}

.terminus-header-tab {
	padding-left: 1em;
}

.terminus-plugin-control {
	display: inline-block;
	padding: 6px;
	border-right: 1px solid white;
	margin-right: 6px;
}

.terminus-db-controller, 
.terminus-server-controller {
	min-width: 320px;
	padding-top: 10px;
}

.terminus-db-controller div, 
.terminus-server-controller div {
	margin-top: 6px;
	margin-bottom: 6px;
}

.terminus-document-control {
	padding-top: 8px;
	padding-left: 6px;
}

#terminus-content-viewer .terminus-main-window {
	padding: 1em;
}

.terminus-label {
	padding-right: 6px;
}

.terminus-value {
	padding-right: 6px;
}

div.terminus-object-frame button, 
.terminus-control-button {
	margin: 4px;
	padding: 6px 8px;
	background-color: #eee;
	border: 1px solid #48f;
}
div.terminus-object-frame button:hover,
.terminus-control-button:hover {
	cursor: pointer; 
	background-color: #48f;
	color: white;
	
}

div.terminus-object-frame {}

div.terminus-property-frame {
	margin-bottom: 10px;	
}
