/*


*/


body {
	font-size: 16px;
	font-family: 'Open Sans', Arial, sans-serif;
	background: #fff;
	color: #777
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	margin-top: 0
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-size: 11px;
	margin: 0 0 0 5px
}
h1 {
	font-size: 28px
}
h2 {
	font-size: 24px
}
h3 {
	font-size: 20px
}
h4 {
	font-size: 16px
}
h5 {
	font-size: 13px
}
h6 {
	font-size: 11px
}
strong, b {
	color: #555
}
a:hover, a:focus {
	outline: 0
}
small, .small {
	font-size: 11px
}
pre, code {
	padding: 1px 2px;
	font-weight: bold;
	font-size: 12px
}
blockquote {
	border-left: 3px solid #dcdddf
}
blockquote p {
	font-size: 14px
}
blockquote small::before {
	content: "# "
}
.lead {
	font-size: 16px;
	line-height: 22px
}
.text-muted {color: #999;}

/* wrapper */
.terminus-wrapper {
	background: url(../images/bg.png) #eee;
	border-bottom: 1px solid #bbb;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	padding: 30px 0
}

.terminus-wrapper-height {
 height: auto;
}

.footer {
	color: #999;
	padding: 30px 0 60px
}
.footer .nav li {
	float: left
}
.footer .nav li+li {
	margin-left: 30px
}
.footer .nav li a {
	color: inherit
}
.footer .nav li a:hover {
	color: #555
}
form {
	margin: 0
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, label, input, button, select, textarea {
	/*-webkit-border-radius: 3px; */
	/*-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: small;
	font-family: 'Open Sans', Tahoma, Arial, sans-serif*/
}
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0
}
.input-append input, .input-append select, .input-append .uneditable-input, .input-prepend .add-on:first-child, .input-prepend .btn:first-child {
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px
}
.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn, .input-append .btn-group>.dropdown-toggle, .input-prepend .btn-group>.dropdown-toggle {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}
.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child>.dropdown-toggle {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0
}
.input-transparent {
	border: 0!important;
	background: none!important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important
}
.radio.inline, .checkbox.inline {
	white-space: nowrap
}
body [class^="icon-"], body [class*=" icon-"] {
	font-size: 14px;
	line-height: 20px;
	height: 20px
}
.shaded {
	color: rgba(0,0,0,0.3);
	text-shadow: 0 0 1px #eee, 0 0 0 #000, 0 0 1px #fff
}
.module {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.2);
	box-shadow: 0 0 1px rgba(0,0,0,0.2);
	margin-bottom: 30px
}
.align-center {
	text-align: center
}
.align-right {
	text-align: right!important
}
.clear {
	clear: both
}
.none {
	display: none
}
.nav>li>a:hover {
	background: 0
}

.terminus-form-horizontal .terminus-control-group {
	margin-bottom: 0
}
.terminus-form-horizontal .terminus-control-group+.terminus-control-group{
	margin-top: 13px;
	padding-top: 13px;
	border-top: 1px solid #f5f5f5
}
.terminus-form-horizontal .terminus-control-label{
	float: left;
  width: 160px !important;
  padding-top: 12px;
	font-size: 18px;
  text-align: right;
}
.terminus-control-label-padding{
  padding-left: 10px;
}
.terminus-form-horizontal .terminus-controls{
	display: inline-block;
	padding-left: 20px;
	margin-left: 180px;
	margin-left: 0;
}
/* terminus frame inputs & labels */
/*.terminus-property-header-wrapper-spacer{
	padding-right: 10px;
}
.terminus-property-frame-spacer{
	margin: 15px;
	padding-bottom: 15px;
	border-bottom: 0.5px solid #f5f5f5
}
.terminus-property-frame-label{
	font-size: 16px;
	float: left;
	padding-right: 10px;
} */
/* terminus form inputs */
.terminus-doc-input-text{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
	font-size: 16px;
  box-sizing: border-box;
	width: 235px;
	margin-left: 15px
}
.terminus-input-text {
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
	font-size: 18px;
  box-sizing: border-box;
	width: 300px;
	margin-left: 15px
}
.terminus-textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
	width: 400px;
	margin-left: 15px
}

.terminus-query-textarea{
	height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
	width: 400px;
	margin-left: 15px
}

.terminus-table-content{
	font-size: 16px;
  text-decoration: none;
  color: black;
}
/*
.terminus-api-result-textarea {
  height: 550px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
	width: 1200px;
}
*/
.terminus-type-select{
	padding-bottom: 15px;
  margin-left: 10px;
}

.terminus-scheme-pre{
	padding: 15px;
	color: black;
  font-weight: bold;
  font-size: 16px;
	background: #f5f5f5;
}

.module-login {
	margin-bottom: 80px;
	margin-top: 80px
}
.module-login .form-vertical input {
	margin-bottom: 0!important
}
.navbar {
	position: static!important;
	margin: 0!important
}
.navbar .navbar-inner {
	background: #fff;
	border-bottom: 1px solid #bbb;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	box-shadow: 0 1px 2px rgba(0,0,0,0.15)
}
.navbar .brand {
	color: #333;
	font-weight: bold;
	font-size: 20px;
	margin-right: 20px;
	padding: 20px
}
.navbar .nav>li>a {
	padding: 20px 15px;
	font-weight: bold;
	color: #777
}
.navbar .nav>li.active , .navbar .nav>li.active , .navbar .nav>li.active, .navbar .nav>li:hover  {
	background: #f9f9f9;
}
.navbar .nav>li.dropdown.open>.dropdown-toggle, .navbar .nav>li.dropdown.active>.dropdown-toggle, .navbar .nav>li.dropdown.open.active>.dropdown-toggle {
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding-left: 14px;
	padding-right: 14px;
	position: relative;
	z-index: 9999
}
.navbar .nav>li>.dropdown-menu {
	border: 1px solid #ccc;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	left: -1px;
	min-width: 200px;
	margin: -1px 0 0;
	z-index: 9991
}
.navbar .nav>li>.dropdown-menu::before, .navbar .nav>li>.dropdown-menu::after {
	display: none
}
.navbar .nav>li>.dropdown-menu li>a {
	padding: 10px 20px
}
.navbar .nav>li>.dropdown-menu li>a:hover {
	background: #f9f9f9;
	color: #555
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus
{

-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
	}
.navbar .nav.nav-icons>li>a {
	background: none;
	-webkit-box-shadow:none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #777;
	font-weight: bold;
	padding: 5px;
	margin: 15px 5px
}
.navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right {
	right: 0;
	left: auto
}
.navbar .divider-vertical {
	background: #eee;
	border-left: 0;
	border-right: 0;
	height: 30px;
	margin: 25px 15px;
	width: 1px
}
.navbar-search {
	margin: 15px 0 0 0
}
.nav-user>a {
	height: 20px
}
.nav-avatar {
	width: 34px;
	height: 34px;
	margin: -7px 5px 0 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}
.dropdown-menu {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}
/* terminus alerts*/
.terminus-alert {
	background: #fffaef;
	border-color: #ecdcb6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	color: #b68b53;
	font-size:large;
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
}
.terminus-alert strong, .terminus-alert b {
	color: inherit
}
.terminus-alert-danger, .terminus-alert-error {
	background: #f7e7e4;
	border-color: #ecbeb6;
	color: #b55351
}
.terminus-alert-success {
	background: #eaf4e2;
	border-color: #c1dea9;
	color: #61a06f;
	font-size:large;
	text-align: left;
}
.document-chooser-a{
	color: #777 !important;
}
.btn, .btn-box {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}
.btn:hover, .btn-box:hover {
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.15);
	box-shadow: 0 0 2px rgba(0,0,0,0.15)
}
.btn:focus, .btn-box:focus {
	outline: 0
}
.btn [class^="icon-"], .btn-box [class^="icon-"], .btn [class*=" icon-"], .btn-box [class*=" icon-"] {
	min-width: 16px;
	text-align: center;
	display: inline-block!important
}
.btn {
	font-size: 13px;
	font-weight: 600
}
.btn.btn-mini, .btn.btn-small {
	font-size: 11px
}
.btn.btn-large {
	font-size: 16px
}
.btn-box {
	margin-bottom: 20px;
	background-color: lightgrey;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	text-align: center;
	text-decoration: none!important;
	padding: 25px 0;
	margin: 0 0 30px
}
.btn-box i, .btn-box b {
	display: block
}
.btn-box b {
	color: #444;
	font-size: 20px;
	font-weight:normal;
	margin-top: 5px;
	text-shadow: 0 1px 0 #fff
}
.btn-box i {
	font-size: 36px;
	line-height: 36px;
	height: 36px;
	color: black;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.btn-box.big b {
	margin-top: 10px
}
.btn-box.big i {
	font-size: 48px;
	line-height: 48px;
	height: 48px
}
.btn-box.small b {
	font-size: 11px
}
.btn-box.small i {
	font-size: 24px;
	line-height: 24px;
	height: 24px
}
.btn-box:hover i {
	color: rgba(0,0,0,0.4);

}
.btn-group>.btn:first-child {
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px
}
.btn-group>.btn:last-child {
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px
}
.btn-group.shaded-icon>.btn>i {
	color: rgba(0,0,0,0.3);
	text-shadow: 0 0 1px #eee, 0 0 0 #000, 0 0 1px #fff
}
.btn-group.shaded-icon>.btn:hover>i {
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px #ccc, 0 0 0 #000, 0 0 1px #fff
}
.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
	font-size: 13px
}

/* terminus buttons */

.terminus-send-api-btn{
	margin-left:935px;
}

.terminus-btn {
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 4px 10px;
	margin-left: 10px;
	font-size: large;
	line-height: 1.42857;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.terminus-doc-btn{
	float: right;
	border: 1px solid transparent;
  margin-right: 15px;
}


.terminus-delete-db-button {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 4px 10px;
	margin-left: 10px;
	font-size: 14px;
	line-height: 1.42857;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.terminus-btn.active:focus, .terminus-btn:active:focus, .terminus-btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
.terminus-btn:focus, .terminus-btn:hover {
	color: #767676;
	text-decoration: none
}
.terminus-btn.active, .terminus-btn:active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}
.terminus-btn.disabled, .terminus-btn[disabled], fieldset[disabled] .terminus-btn {
	cursor: not-allowed;
	pointer-events: none;
	opacity: .65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none
}
.terminus-btn-default {
	color: #767676;
	background-color: #fafafa;
	border-color: #ededed
}
.terminus-btn-default.active, .terminus-btn-default:active, .terminus-btn-default:focus,
.terminus-btn-default:hover, .open>.terminus-btn-default.dropdown-toggle {
	color: #767676;
	background-color: #e1e1e1;
	border-color: #cfcfcf
}
.terminus-btn-default.active, .terminus-btn-default:active,
.open>.terminus-btn-default.dropdown-toggle {
	background-image: none
}
.terminus-btn-default.disabled, .terminus-btn-default.disabled.active,
.terminus-btn-default.disabled:active, .terminus-btn-default.disabled:focus,
.terminus-btn-default.disabled:hover, .terminus-btn-default[disabled],
.terminus-btn-default[disabled].active, .terminus-btn-default[disabled]:active,
.terminus-btn-default[disabled]:focus, .terminus-btn-default[disabled]:hover,
fieldset[disabled] .terminus-btn-default, fieldset[disabled] .terminus-btn-default.active,
fieldset[disabled] .terminus-btn-default:active, fieldset[disabled] .terminus-btn-default:focus,
fieldset[disabled] .terminus-btn-default:hover {
	background-color: #fafafa;
	border-color: #ededed
}

/* terminus frames */
div.terminus-property-frame{
	margin-bottom: 20px;
}
div.terminus-object-properties {
	background-color: rgba(200, 230, 255, 0.1);
	padding-top: 4px;
	padding-bottom: 4px;
}


/*nuking this button styles as of now*/
/*.terminus-btn-default .badge {
	color: #fafafa;
	background-color: #767676
}
.terminus-btn-primary {
	color: #fff;
	background-color: #248aaf;
	border-color: #20799a
}
.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #1b6985;
	border-color: #155167
}
.btn-primary.active, .btn-primary:active, .open>.btn-primary.dropdown-toggle {
	background-image: none
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
	background-color: #248aaf;
	border-color: #20799a
}
.btn-primary .badge {
	color: #248aaf;
	background-color: #fff
}
.btn-success {
	color: #fff;
	background-color: #3cbc8d;
	border-color: #36a97f
}
.btn-success.active, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.btn-success.dropdown-toggle {
	color: #fff;
	background-color: #309570;
	border-color: #277a5c
}
.btn-success.active, .btn-success:active, .open>.btn-success.dropdown-toggle {
	background-image: none
}
.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
	background-color: #3cbc8d;
	border-color: #36a97f
}
.btn-success .badge {
	color: #3cbc8d;
	background-color: #fff
}
.btn-info {
	color: #fff;
	background-color: #29b7d3;
	border-color: #25a4be
}
.btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.btn-info.dropdown-toggle {
	color: #fff;
	background-color: #2192a8;
	border-color: #1b788a
}
.btn-info.active, .btn-info:active, .open>.btn-info.dropdown-toggle {
	background-image: none
}
.btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
	background-color: #29b7d3;
	border-color: #25a4be
}
.btn-info .badge {
	color: #29b7d3;
	background-color: #fff
}
.btn-warning {
	color: #fff;
	background-color: #fac552;
	border-color: #f9bd39
}
.btn-warning.active, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.btn-warning.dropdown-toggle {
	color: #fff;
	background-color: #f9b420;
	border-color: #eea507
}
.btn-warning.active, .btn-warning:active, .open>.btn-warning.dropdown-toggle {
	background-image: none
}
.btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled], .btn-warning[disabled].active, .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover {
	background-color: #fac552;
	border-color: #f9bd39
}
.btn-warning .badge {
	color: #fac552;
	background-color: #fff
}
.btn-danger {
	color: #fff;
	background-color: #e9422e;
	border-color: #e52e18
}
.btn-danger.active, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.btn-danger.dropdown-toggle {
	color: #fff;
	background-color: #ce2916;
	border-color: #ae2312
}
.btn-danger.active, .btn-danger:active, .open>.btn-danger.dropdown-toggle {
	background-image: none
}
.btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger[disabled], .btn-danger[disabled].active, .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover {
	background-color: #e9422e;
	border-color: #e52e18
}
.btn-danger .badge {
	color: #e9422e;
	background-color: #fff
}
.btn-link {
	color: #333;
	font-weight: 400;
	cursor: pointer;
	border-radius: 0
}
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none
}
.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
	border-color: transparent
}
.btn-link:focus, .btn-link:hover {
	color: #0d0d0d;
	text-decoration: underline;
	background-color: transparent
}
.btn-link[disabled]:focus, .btn-link[disabled]:hover, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:hover {
	color: #999;
	text-decoration: none
}
.btn-group-lg>.btn, .btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px
}
.btn-group-sm>.btn, .btn-sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 2px
}
.btn-group-xs>.btn, .btn-xs {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 2px
}
.btn-block {
	display: block;
	width: 100%
}
.btn-block+.btn-block {
	margin-top: 5px
}
input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
	width: 100%
}

*/

.modal {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	box-shadow: 0 0 5px rgba(0,0,0,0.2)
}
.modal .modal-header .close {
	color: rgba(0,0,0,0.5);
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	margin: 0;
	text-shadow: 1px 1px 2px #ddd, 0 0 0 #000, 0 0 1px #fff
}
.modal-backdrop, .modal-backdrop.fade.in {
	background: #fff;
	opacity: .9
}
.accordion-group {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.2);
	box-shadow: 0 0 1px rgba(0,0,0,0.2);
	overflow: hidden;
	margin-bottom: 5px
}
.accordion-heading {
	background: #fafafa;
	background: -moz-linear-gradient(top, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(50%, #fff), color-stop(51%, #fafafa), color-stop(100%, #fafafa));
	background: -webkit-linear-gradient(top, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
	background: -o-linear-gradient(top, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
	background: -ms-linear-gradient(top, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
	background: linear-gradient(to bottom, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@topColor', endColorstr='@bottomColor', GradientType=0)
}
.accordion-heading .accordion-toggle {
	color: #555;
	font-weight: bold;
	line-height: 20px;
	padding: 10px 15px;
	text-decoration: none!important
}
.media .media-avatar {

	border: 1px solid rgba(204, 204, 204, 0.5);

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	height: 100px;
	width: 100px;
	margin-right: 20px
}
.media .media-avatar img {
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
	height: 90px;
	width: 90px;
	margin: 5px
}
.media .media-avatar.medium {
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	height: 70px;
	width: 70px
}
.media .media-avatar.medium img {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	height: 60px;
	width: 60px;
	margin: 5px
}
.media .media-avatar.small {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	height: 60px;
	width: 60px
}
.media .media-avatar.small img {
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	height: 50px;
	width: 50px;
	margin: 5px
}
.media .media-title {
	font-size: 14px;
	line-height: 16px;
	margin: 15px 0 0
}
.media.user {
	padding: 15px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	 border:1px solid transparent;

}
.media.user:hover {
	background:#E8F6E4;
	 border:1px solid #E8F6E4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 14px
}
.media.user:hover .media-avatar {
	background: #fff;
	border-color: #bbb;

}
.progress {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background:#f6f6f6;
}
.progress .bar {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	 background-color: #428bca;
}
.progress.tight {
	height: 10px
}
.progress.stacked .bar {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}
.progress.stacked .bar+.bar {
	margin-left: -1px
}
.progress.stacked .bar:first-child {
	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px
}
.progress.stacked .bar:last-child {
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0
}
.progress .bar-success, .progress-success .bar {
	border-color: #438e43
}
.progress .bar-warning, .progress-warning .bar {
	border-color: #c97600
}
.progress .bar-danger, .progress-danger .bar {
	border-color: #a62821
}
/* termoinus table */
.terminus-table {
	margin-bottom: 0
}
.terminus-table th, .terminus-table td {
	border-color: #d5d5d5!important
}
.terminus-table.valign-middle td, .terminus-table.valign-middle th {
	vertical-align: middle
}
.terminus-table-bordered thead:first-child tr:first-child>th:first-child,
.terminus-table-bordered tbody:first-child tr:first-child>td:first-child {
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	border-top-left-radius: 2px
}
.terminus-table-bordered thead:first-child tr:first-child>th:last-child,
.terminus-table-bordered tbody:first-child tr:first-child>td:last-child {
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px
}
.terminus-table-bordered thead:last-child tr:last-child>th:first-child,
.terminus-table-bordered tbody:last-child tr:last-child>td:first-child,
.terminus-table-bordered tfoot:last-child tr:last-child>td:first-child {
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-left-radius: 2px
}
.terminus-table-bordered thead:last-child tr:last-child>th:last-child,
.terminus-table-bordered tbody:last-child tr:last-child>td:last-child,
.terminus-table-bordered tfoot:last-child tr:last-child>td:last-child {
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	border-bottom-right-radius: 2px
}
.sidebar-user .user-avatar {
	background: #fff;
	border: 1px solid #ccc;
	border-bottom-color: #ccc;
	height: 70px;
	width: 70px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	margin-right: 15px
}
.sidebar-user .user-avatar img {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	width: 60px;
	height: 60px;
	margin: 5px
}
.sidebar-user .user-content {
	overflow: hidden;
	margin-top: 15px
}
.sidebar-user .user-content h3 {
	font-size: 14px;
	line-height: 16px;
	height: 16px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.widget .progress {
	margin-bottom: 0
}

/* terminus widget menu */
.terminus-widget-menu {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 300px;
	overflow: hidden;
	list-style: none;
	/*margin-right: 25px;*/
}

.terminus-widget-menu a {
	color: #fff;
	font-size:large;
	display: block;
	line-height: 20px;
	padding: 15px;
	text-decoration: none!important
}
.terminus-widget-menu .terminus-menu-icon {
	margin-right: 10px;
	padding-right:10px;
	color: #fff;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.terminus-widget-menu .label {
	background: #888;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.4) inset;
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.4) inset;
	box-shadow: 0 0 2px rgba(0,0,0,0.4) inset;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height: 20px;
	padding: 0 5px
}
.widget-menu .label.green {
	background: #78ba00
}
.widget-menu .label.orange {
	background: #d74f2a
}
.terminus-widget-menu>li+li {
	border-top: 1px solid #555
}
.terminus-widget-menu>li>a {
	background-color: #2d2b32;
	color: #fff;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.terminus-widget-menu>li>a .icon-chevron-up {
	display: block
}
.terminus-widget-menu>li>a .icon-chevron-down {
	display: none
}
.terminus-widget-menu>li>a.collapsed .icon-chevron-up {
	display: none
}
.terminus-widget-menu>li>a.collapsed .icon-chevron-down {
	display: block
}
.terminus-widget-menu>li>a:hover {
	background-color: #D3D3D3;
	color: black;
}

.terminus-widget-menu>li>a:hover .menu-icon { color:#fff;}

.terminus-widget-menu>li ul li {
	background: whitesmoke;
	border-top: 1px solid whitesmoke;
}
.terminus-widget-menu>li ul li+li {
	border-top: 0
}
.terminus-widget-menu>li ul li.active a {
	background: #f0f0f0
}
.terminus-widget-menu>li ul li a {
	padding: 10px 15px 10px 30px
}
.terminus-widget-menu>li ul li a:hover {
	/*background: #f5f5f5;*/
	-webkit-box-shadow: 0 1px 0 #fafafa inset;
	-moz-box-shadow: 0 1px 0 #fafafa inset;
	/*box-shadow: 0 1px 0 #fafafa inset;
	border-bottom: 1px solid #d5d5d5;
	border-top: 1px solid #d5d5d5;*/
	padding: 9px 15px 9px 30px
}
.terminus-doc-li{
	border: 1px solid black;
  background: aliceblue;
	height: 280px;
}

.widget-usage {
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	text-decoration: none!important;
}
.widget-usage p {
	margin-bottom: 10px;
	line-height: 1.2
}
.widget-usage li {
	padding: 15px
}
.widget-usage li+li {
	border-top: 1px solid #ddd
}

.terminus-ul-horizontal{
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.terminus-li-horizontal {
  float: left;
}

.terminus-li-horizontal a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
}

.terminus-li-horizontal a:hover {
  background-color: #111111;
}

/* terminus module*/
.module {
	box-shadow: 0 0 3px rgba(0,0,0,.1);
	border-color: #e9e9e9;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

/* terminus module header */
.terminus-module-head {
	color: black;
	background-color: #f6f6f6;
	border-color: #e9e9e9;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.terminus-full-css-margin-top{
  margin-top: 30px;
}
.terminus-plugin-label-full-css{
	color: white;
	background-color: black;
	padding-left: 22px;
  padding-right: 20px;
	/*border-color: #e9e9e9;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	font-size: 16px;
	padding: 10px*/
}
.terminus-explorer-hide{
	display: none;
}
.terminus-table-header-full-css{
	color: #767676;
	background-color: #f6f6f6;
	border-color: #e9e9e9;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	font-size: 18px;
	padding: 10px;
	color: black;
	min-width: 189px;
	cursor: pointer;
}
.terminus-application-controls{
 margin-top: 20px
}
/* terminus module header for tab in full css style*/
.terminus-module-head-tab {
	/*color: #767676;
	background-color: #f6f6f6;
	border-color: #e9e9e9;*/
	background-color: black;
	color: white;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	font-size: 18px;
}
.terminus-module-head h3 {
	font-size: large;
	line-height: 20px;
	height: 20px;
	margin: 0
}
.terminus-module-head-server-connection {
  padding: 1em;
  color: black;
  background-color: #f6f6f6;
  margin-bottom: 0.5em;
}
.terminus-module-head-server-value{
	display: block;
	padding: 1em;
	color: black;
	background-color: #f6f6f6;
	margin-bottom: 0.5em;
	font-size: large;
}
.terminus-control-panel-label{
	display: inline-block;
  padding: 10px 4px 10px 70px;
  border-right: 1px solid #88f;
  /* padding-left: 50px; */
  margin-top: 10px;
  /* padding-right: 4px; */
  margin-right: 4px;
  font-size: larger;
  min-width: fit-content;
  width: 60px;
}
.terminus-control-panel-value{
	padding-left: 5px;
	font-size: 14px;
}

.terminus-nav-body-span{
	display: inline-inline-flex;
}
.terminus-schema-textarea{
	width: 1200px;
  height: 1000px;
	margin-top: 15px;
	padding: 15px;
	font-weight: bold;
  font-size: 16px;
	background: #f5f5f5;
}
/* terminus main window on full css mode */
.terminus-main-window-full-css{
	width: 100%;
  vertical-align: top;
  padding: 20px 0px 0px 50px;
}

/* terminus module body */
.terminus-module-body {
	padding: 15px
}
.terminus-module-body-width {
	margin-left: 10px;
  width: 1200px;
	display: inline-block
}
.terminus-module-body-white-bg{
	background: #fff;
}
.terminus-module-body.table {
	padding: 15px 0
}
.terminus-module-body.table .table th, .terminus-module-body.table .table td {
	padding-left: 15px;
	padding-right: 15px
}

/* pointer cursor */
.terminus-pointer{
	cursor:pointer;
}

/* terminus-madatory-icon */
.terminus-mandatory-icon{
	padding-left:5px;
	color:orange;
}

/* menu icon for sub menus */
.terminus-sub-menu-icon{
	padding-right: 10px;
}

.terminus-api-explorer-text-area{
	 min-width: -webkit-fill-available;
	 min-height: 6cm;
	 font-size:16px;
}


/* signature code */
.terminus-api-signature-pre{
  font-size:18px;
	background : #f5f5f5;
	color: black;
	/*margin:30px;*/
	padding:15px;
	white-space: pre-wrap;       /* Since CSS 2.1 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


.module-option {
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 0;
	margin: 0 15px
}

.module-foot {
	background: #f9f9f9;
	border-top: 1px solid #ddd;
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	padding: 15px
}
.login .user-accounts li {
	padding: 30px;
	overflow: hidden
}
.login .user-accounts li+li {
	border-top: 1px solid #ddd
}
.login .user-avatar {
	background: #fff;
	border: 1px solid #ccc;
	border-bottom-color: #ccc;
	height: 100px;
	width: 100px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	margin-right: 15px
}
.login .user-avatar img {
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
	width: 90px;
	height: 90px;
	margin: 5px
}
.login .user-content {
	margin: 5px 0 0 125px
}
.login .user-content h3 {
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 15px
}
.login .user-content h3 small {
	font-size: 11px;
	margin-left: 10px
}
.login .user-content p {
	margin-bottom: 15px
}
.stream-list {
	border-top: 1px solid #e5e5e5;
	margin: 20px -15px -15px
}
.stream {
	padding: 20px 15px
}
.stream+.stream {
	border-top: 1px solid #e5e5e5;
	margin-top: 0
}
.stream.new-update, .stream.load-more {
	padding: 0
}
.stream.new-update a, .stream.load-more a {
	background: #background: #f7f7f7;;

	color: #555;
	font-weight: 600;
	font-size: 14px;
	display: block;
	padding: 20px;
	text-align: center;
	text-decoration: none!important
}
.stream.new-update a i, .stream.load-more a i {
	font-size: 18px;
	margin-right: 10px
}
.stream.load-more {
	margin-top: 10px
}
.stream.load-more a {
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	background: #f5f5f5;

}
.stream-author {
	font-size: 14px;
	margin: 0 0 5px
}
.stream-headline {
	margin: 5px 0 10px
}
.stream-options a [class^="icon-"], .stream-options a [class*=" icon-"] {
	font-size: 11px!important
}
.stream-attachment {
	border: 1px solid #eee;
	clear: both;
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	margin: 10px 0 0;
	width: 80%;
	padding: 10px
}
.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0
}
.responsive-video object, .responsive-video embed, .responsive-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
.stream-respond {
	margin-top: 10px
}
.stream-respond .stream {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 15px 15px 15px 0;
	width: 80%
}
.stream-respond .stream+.stream {
	border-top: 1px dotted #eee
}
.stream-respond .stream .stream-headline {
	margin-bottom: 0
}
.profile-head {
	background: #f9f9f9;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	margin: -15px -15px 0!important;
	padding: 15px 15px 0
}
.profile-head .media-avatar {
	background: #fff
}
.profile-brief {
	border-left: 3px solid #eee;
	padding-left: 15px
}
.profile-tab {
	background: #f9f9f9;
	margin: 0 -15px 25px;
	padding: 30px 15px 0;
	font-weight: 600
}
.profile-tab>li>a {
	color: #888;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0
}
.profile-tab>li>a:hover {
	color: #666
}
.profile-tab>li.active>a {
	color: #444
}
.profile-tab>li+li {
	margin-left: 5px
}
.profile-tab-content {
	overflow: visible
}
.profile-tab-content .stream-list {
	border-top: 0;
	margin-top: 0
}
.profile-tab-content .stream-list .media:first-child {
	margin-top: -20px
}
.message .module-option {
	border-bottom: 0
}
.message .terminus-module-body {
	padding: 0
}
.message .table-message thead tr.heading td, .message .table-message tbody tr.heading td {
	background: #29b7d3!important;
	font-weight: bold;
	border: 0;
}
.message .table-message tbody td {
	}
.message .table-message tbody td.cell-check {
	width: 20px;
	text-align: center
}
.message .table-message tbody td.cell-check input[type="checkbox"] {
	margin: 0
}
.message .table-message tbody td.cell-icon {
	text-align: center;
	padding-left: 0!important;
	padding-right: 0!important
}
.message .table-message tbody td.cell-author {
	width: 150px
}
.message .table-message tbody td.cell-time {
	width: 70px
}
.message .table-message tbody td.cell-status {
	width: 100px;
	text-align: center
}
.message .table-message tbody td.cell-status b {
	background: #d74f2a;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	color: rgba(255,255,255,0.8);
	display: inline-block;
	padding: 1px 5px;
	font-size: 11px;
	text-transform: uppercase
}
.message .table-message tbody [class^="icon-"], .message .table-message tbody [class*=" icon-"] {
	font-size: 13px;
	color: #999
}
.message .table-message tbody .icon-star {
	color: #ddd
}
.message .table-message tbody .icon-checker {
	width: 5px;
	height: 5px;
	border: 3px solid #d74f2a;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	margin: 0 0 0 15px
}
.message  tr.heading {
	color: #fff;
}
.message .table-message tbody tr.unread {
	font-weight: bold;
	color: #666
}
.message .table-message tbody tr.unread td {
	background: #fff
}
.message .table-message tbody tr.starred .icon-star {
	color: #fd7b12!important
}
.message .table-message tbody tr.starred .icon-star:hover {
	opacity: .6;
	filter: alpha(opacity=60)
}
.message .table-message tbody tr:hover td {
	background: #E8F6E4;
	cursor: pointer
}
.message .table-message tbody tr:hover .icon-star {
	color: #d9d9a9
}
.message .table-message tbody tr:hover .icon-star:hover {
	color: #adad88;
	cursor: pointer
}
.message .table-message tbody tr.task td {
	background: #fff;
	font-weight: bold
}
.message .table-message tbody tr.task.resolved td {
	background: #f5f5f5;
	color: #999;
	font-weight: normal
}
.message .table-message tbody tr.task.resolved .icon-checker {
	border-color: #ddd
}

/* terminus plug in menu */
.terminus-plugin-topcorner{
   position:absolute;
   top:0;
   right:0;
	 text-align: right;
}

.terminus-plugin-nav {
	font-size: 30px;
  height: 100%;
  width: 0;
  /*z-index: 1;*/
	 z-index:99999;
  top: 0;
  right: 0;
  color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.terminus-plugin-nav a {
  padding: 8px 8px 8px 12px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
	background-color: #111;
  display: block;
  transition: 0.3s;
}

.terminus-plugin-nav a:hover {
  color: #f1f1f1;
	cursor: pointer
}

.terminus-plugin-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .terminus-plugin-nav {padding-top: 15px;}
  .terminus-plugin-nav a {font-size: 22px;}
}

.ui-slider {
	position: relative;
	text-align: left
}
.ui-slider .ui-slider-handle {
	background: url(../images/jquery-ui/picker.png);
	position: absolute;
	z-index: 2;
	width: 17px;
	height: 16px;
	cursor: pointer
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	border: 0;
	background-position: 0 0
}
.ui-slider.ui-state-disabled .ui-slider-handle, .ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit
}
.ui-slider-horizontal {
	background: #f5f5f5;
	border: 1px solid #ccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.1) inset;
	box-shadow: 0 0 2px rgba(0,0,0,0.1) inset;
	height: 6px
}
.ui-slider-horizontal .ui-slider-handle {
	top: -5px;
	margin-left: -8.5px
}
.ui-slider-horizontal .ui-slider-range {
	border: 1px solid #0070a8;

	background-color: #0e90d2;

	top: -1px;
	height: 100%
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0
}
.ui-slider-vertical {
	width: .8em;
	height: 100px
}
.ui-slider-vertical .ui-slider-handle {
	left: -0.3em;
	margin-left: 0;
	margin-bottom: -0.6em
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0
}
.docs+.docs {
	margin-top: 30px
}
.docs>h2 {
	font-size: 22px
}
.docs>h3 {
	font-size: 18px;
	color: #888
}
.docs-example {
	position: relative;
	margin: 20px 0 0;
	padding: 39px 19px 14px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden
}
.docs-example .pre {
	background: #f9f9f9;
	border: 0;
	border-top: 1px solid #e5e5e5;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-weight: normal;
	margin: 0 -19px -14px;
	padding: 19px
}
.docs-example .pre .tag, .docs-example .pre .atn, .docs-example .pre .pun, .docs-example .pre .atv {
	color: #4f619e;
	font-weight: bold
}
.docs-example .pre .pun {
	font-weight: normal;
	color: #888
}
.docs-example .pre .atn {
	color: teal
}
.docs-example .pre .atv {
	color: #d14
}
.docs-example:after {
	content: "Sample";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 15px;
	font-size: 11px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	color: #9da0a4;
	-webkit-border-radius: 0 0 3px 0;
	-moz-border-radius: 0 0 3px 0;
	border-radius: 0 0 3px 0
}

.schema-jquery-viewer{
    white-space: pre;
    unicode-bidi: embed;
    font-size: 14px;
    background-color: #fafffa;
    padding: 4px;
    border: 1px solid #efefef;
    overflow: auto;
}

.btn-accordion {
	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 4px 10px;
    font-size: large;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;

}

.btn-accordion-active, .btn-accordion:hover {
  background-color: #ccc;
}

.btn-accordion:after {
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.btn-accordion-active:after {
  content: "\2212";
  color: #22A7F0;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.query{
  border-color: lightgrey;
  border-style: groove;
  width: 6cm;
  border-radius: 5px;
}


/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid green;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#completeMsg {
  display: none;
  text-align: center;
}

.ico{
    display: inline-block;
    height: 20px;
    color: white;
    text-decoration: none;
    margin-top: 25px;
	margin-left:250px;
}


 .ico:hover{
  color: grey;
  transform: scale(1.1);
  margin-left:0px;
 }

.ico:before{
    content: '';
    background:url('../images/icons/tools.png');
    background-size:cover;
    position:absolute;
    width:30px;
    height:30px;
	cursor: pointer;
	transition: all .2s ease-in-out;
	background-color: transparent !important;
}

.ico-edit{
	content: '';
    background:url('../images/icons/edit.png');
    background-size:cover;
    position:absolute;
    width:30px;
    height:30px;
	cursor: pointer;
    margin-left:20px;
	transition: all .2s ease-in-out;
	background-color: transparent !important;
}

.ico-delete{
	content: '';
    background:url('../images/icons/delete.png');
    background-size:cover;
    position:absolute;
    width:30px;
    height:30px;
	cursor: pointer;
    margin-left:60px;
	background-color: transparent;
	transition: all .2s ease-in-out;
	background-color: transparent !important;
}

.ico-add{
	content: '';
    background:url('../images/icons/add.png');
    background-size:cover;
    position:absolute;
    width:30px;
    height:30px;
	cursor: pointer;
    margin-left:100px;
	transition: all .2s ease-in-out;
	background-color: transparent !important;
}

.ico-clone{
	content: '';
    background:url('../images/icons/clone.png');
    background-size:cover;
    position:absolute;
    width:30px;
    height:30px;
	cursor: pointer;
    margin-left:100px;
	transition: all .2s ease-in-out;
	background-color: transparent !important;
}


.ico-hide{
	content: '';
    background:url('../images/icons/hide.png');
    background-size:cover;
    position:absolute;
    width:30px;
    height:30px;
	cursor: pointer;
    margin-left:140px;
	transition: all .2s ease-in-out;
	background-color: transparent !important;
}


.ico-cancel{
	content: '';
    background:url('../images/icons/cancel.png');
    background-size:cover;
    position:absolute;
    width:30px;
    height:30px;
	cursor: pointer;
    margin-left:175px;
	transition: all .2s ease-in-out;
	background-color: transparent !important;
}


.obj-edit{
	content: '';
    background:url('../images/icons/edit.png');
    background-size:cover;
    position:absolute;
    width:30px;
    height:30px;
	cursor: pointer;
    margin-left:0px;
	transition: all .2s ease-in-out;
	background-color: transparent !important;
}

.obj-delete{
	content: '';
    background:url('../images/icons/delete.png');
    background-size:cover;
    position:absolute;
    width:30px;
    height:30px;
	cursor: pointer;
    margin-left:40px;
	transition: all .2s ease-in-out;
	background-color: transparent !important;
}


.obj-clone{
	content: '';
    background:url('../images/icons/clone.png');
    background-size:cover;
    position:absolute;
    width:30px;
    height:30px;
	cursor: pointer;
    margin-left:80px !important;
	transition: all .2s ease-in-out;
	background-color: transparent !important;
}


/* frameviewer styling */
.ico-property-frame:nth-child(odd) {
	background-color: #eaedf9;
	overflow:auto;
	/*height: 250px !important;*/

}

.ico-property-frame:nth-child(even) {
	background-color: #faf8f9;
	overflow:auto;
	/*height: 250px !important;*/
}

.ico-active, .ico-value-tools:hover, .ico-edit:hover, .ico-delete:hover, .ico-add:hover,
.ico-clone:hover, .ico-hide:hover, .ico-cancel:hover, .obj-edit:hover,.obj-delete:hover, .obj-clone:hover {
  color: grey;
  transform: scale(1.1);
}



.tool-popup{
	border: 1px solid grey;
	border-radius: 5px;
}

.ico-property-viewer{
	display: inline-block;
    margin: 50px 0px 0px 0px;
}

.ico-property-label{
	font-size: 18px;
    color: #334274;
    /* float: unset; */
    padding-left: 25px;
    /* margin-top: 2px; */
    max-width: 200px;
    /*display: inline-block;*/
	font-family: 'Open Sans', Tahoma, Arial, sans-serif;
	text-align: right;
	vertical-align: top;
}

.ico-property-label-w{
	padding: 4px;
    display: inline-block;
    margin-right: 8px;
	vertical-align:top;
}

.ico-value-tools{
	content: '';
    background:url('../images/icons/edit-value.png');
    background-size:cover;
    position:absolute;
    width:30px;
    height:30px;
	cursor: pointer;
    margin-left:20px;
	transition: all .2s ease-in-out;
	background-color: transparent !important;
}

.ico-object-tools{
	margin-left:5px;
}

.ico-object-header{
	border: 1px #888 solid;
	border-radius: 5px;
    margin-bottom: 0px;
    text-align: left;
	color: black;
	font-size: 16px;
	font-style: bold;
    padding: 10px;
    background-color: #ccc;
	font-family: 'Open Sans', Tahoma, Arial, sans-serif;
}

.ico-property-frame{
    position: relative;
    min-height: 100px;
	border-radius: 5px;
    border-top: 1px solid lightgrey;
}

.ico-value-facet{
	margin-bottom: 6px;
    position: relative;
    min-height: 100px;
    border-top: 1px solid lightgrey;
}

.ico-object-properties{
	padding: 15px 10px 15px 10px;
}

.ico-property-value{
	background-color:none;
	padding-left: 40px;
	margin: 10px 4px 4px 0px;
    padding: 1em;
    display: block;
}


.ico-popup {
  /*margin: 30px auto; */
    margin-left: 40px;
    padding: 20px;
    background: whitesmoke;
    border-radius: 5px;
    width: 270px;
    position: relative;
    transition: all 5s ease-in-out;
	display: none;
}

.ico-popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.ico-popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  transition: all 5s ease-in-out;
}
.ico-popup .close:hover {
  color: #06D85F;
}
.ico-popup .content {
  max-height: 30%;
  overflow: auto;
}


.ico-popup-property {
  /*margin: 30px auto; */
    margin-left: 40px;
    padding: 20px;
    background: whitesmoke;
    border-radius: 5px;
	color: black;
    width: 270px;
    position: relative;
    transition: all 5s ease-in-out;
	z-index: 20;
}

.ico-popup-property h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.ico-popup-property .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.ico-popup-property .close:hover {
  color: #06D85F;
}
.ico-popup-property .content {
  max-height: 30%;
  overflow: auto;
}

.ico-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  font-size: 12px !important;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.ico-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.ico-edit:hover .ico-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.ico-delete:hover .ico-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.ico-add:hover .ico-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.ico-hide:hover .ico-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.ico-clone:hover .ico-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.obj-edit:hover .ico-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.obj-clone:hover .ico-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.obj-delete:hover .ico-tooltiptext {
  visibility: visible;
  opacity: 1;
}


.ico-literal-value{
	display: inline-block;
    font-size: 1.2em;
    min-width: 250px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0.3em 0.5em;
	min-width: 250px;
}

@media screen and (max-width: 700px){
  .ico-popup{
    width: 70%;
  }
  .ico-popup-property{
    width: 70%;
  }
}


@media(max-width:767px){body{padding:0!important}.wrapper{padding:20px 15px}}
