div.terminus-object-frame div.terminus-object-header,
.terminus-client-header, .terminus-application-header {
	margin-bottom: 1em;
	margin-right: 10px;
	background-color: #48f;
	color: white;
}
div.terminus-property-frame {
	padding: 20px 0 12px 10px;
}
span.terminus-property-header-wrapper{
	display: flex;
}
span.terminus-property-header-info{
	text-align: right;
}
div.terminus-object-frame div.terminus-object-header {
	margin-top: 1em;
	padding: 4px;
	height: 40px;
}
span.terminus-display-flex{
	display: flex !important;
}
div.terminus-class-chooser-align{
	margin-left: 770px;
}
span.terminus-document-page-controls{
	display: flex;
    margin-left: 835px;
}
select.terminus-doc-config{
	height: 30px;
}
div.terminus-object-properties {
	background-color: rgba(200, 230, 255, 0.1);
	border: 1px solid lightgrey;
	margin-right: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.terminus-logo{
	top: 0;
	margin-top: 0px;
	color: #00C08B;
	font-size: xx-large;
	font-weight: 500;
	align-items: center;
	height: 70px;
	padding-top: 25px;
	border-bottom: 1px solid #2a3547;
	display: block;
}

.terminus-control-panel-layout {
	position: -webkit-sticky !important;
	position: sticky;
	top: 0!important;
}
.main-table-height{
	display: flex;
}
.terminus-logo-container {
	display: inline-block;
    width: 200px;
    margin-right: 5px;
    content: "";
    background-size: 100%;
}
.terminus-btn-float-right{
	float: right;
}

/* terminus query button grouping */
.terminus-query-group-row {
    display: grid;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 10px;
	/*background-color: whitesmoke;*/
}

.terminus-group-box {
    width: 242px;
    text-align: left;
}

.terminus-group {
    border: 0;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .2857rem;
}

.terminus-group:after, .terminus-group:before {
    box-sizing: border-box;
}

.terminus-group-header {
	padding: 15px 15px 0;
    border: 0;
	background-color: transparent;
}

.terminus-application-control {
	padding-bottom: 1em;
}
.terminus-q-btn {
	cursor: pointer;
	display: inline-block;
	margin: 5px;
	cursor: pointer;
	padding: 4px 10px;
	width: 220px;
}
span.terminus-span-float-right {
	float: right;
}
.terminus-query-select{
	display: inline-block;
    width: 220px;
    margin-left: 5px;
    padding: 6px 4px;
}
.CodeMirror {
	border: 2px solid #eee;
    height: auto;
    font-size: 16px;
    flex: 0 0 56.666667%;
    word-wrap: break-word;
    overflow: hidden;
}
.terminus-menu-icon {
	margin-right: 10px;
	padding-right:10px;
	padding-left: 30px;
	color: #000;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.terminus-show-msg-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: 20px 0px 10px 0px;
}

.terminus-show-msg-error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: 20px 0px 10px 0px;
}

.terminus-show-msg-vio{
	padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 20px 10px 10px 0px;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

/* Terminus Collapsible */
.terminus-collapsible {
	background-color: #48f;
	border-color: #e9e9e9;
	color: #fff;
	cursor: pointer;
	width: 100%;
	border: 1px solid transparent;
	font-size: large;
	font-weight: 600;
	margin: 0;
	text-align: left;
}

.active, .terminus-collapsible:hover {
  background-color: #48f;
  color: #002856;
}

.terminus-collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.terminus-cheveron-float{
	float: right;
}


.terminus-form-horizontal .terminus-control-group {
	margin-bottom: 0
}
.terminus-form-horizontal .terminus-control-group+.terminus-control-group{
	margin-top: 13px;
	padding-top: 13px;
	border-top: 1px solid #f5f5f5
}
.terminus-form-horizontal .terminus-control-label{
	float: left;
    width: 160px !important;
    padding-top: 12px;
	font-size: 18px;
    text-align: left;
}
.terminus-control-label-padding{
    padding-left: 10px;
}
.terminus-form-horizontal .terminus-controls{
	display: inline-block;
	padding-left: 20px;
	margin-left: 180px;
	margin-left: 0;
}

.terminus-doc-input-text{
	width: 160px;
    padding: 6px 4px;
}
.terminus-input-text {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
    width: 800px;
}
.terminus-textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
	width: 400px;
}

.terminus-query-textarea{
	height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
	width: 400px;
	margin-left: 15px
}

.terminus-type-select{
	padding: 6px 4px;
}

/* terminus buttons */
.terminus-send-api-btn{
	margin-left:935px;
}


.terminus-ul-horizontal{
  color: #fff;
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
  height: 30px;
  overflow: hidden;
  background-color: #48f;
}

.terminus-li-horizontal {
  float: left;
}

.terminus-li-horizontal a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
}

.terminus-li-horizontal a:hover {
  background-color: #111111;
}


div.terminus-violation-property{
	margin: 10px;
	display: flex;
}
span.terminus-violation-property-value{
	margin-left: 30px;
}
span.terminus-violation-property-label{
	font-weight: 600 !important;
	width: 230px;
	text-align: right;
}
.terminus-violations-heading{
	font-weight: 600 !important;
}
div.terminus-violation{
	border-bottom: 0.5px solid #856404;
}
.terminus-property-value{
	display: flex;
}

table {
  /*width: 100%;*/
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  /*background: #eee;*/
}
th {
  background: #48f;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 0.5px solid #ccc;
  text-align: left;
}


.truncate {
  max-width:50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cm-hide{
	display: none;
}
.terminus-hover-table{
	/*width:100%;*/
	border-collapse:collapse;
}
.terminus-hover-table td{
	 border:lightgrey 0.5px solid;
	 height: 10px;
	 padding: 7px;
}

.terminus-db-list-del-icon {
	margin-right: 50px;
    margin-left: 50px;
    color: #dc3545;
	font-size: large;
	cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/* Define the default color for all the table rows */
.terminus-hover-table tr{
	background: #f5f5f5;
}
/* Define the hover highlight color for the table row */
.terminus-hover-table tr:hover {
      background-color: #b8d1f3;
}


select.terminus-class-select, select.terminus-form-select {
	padding: 6px 4px;
	width: 223px;
}

div.terminus-object-frame select {
	margin-left: 2px;
	margin-right: 2px;
	padding: 6px 4px;
	width: 100px;
}

div.terminus-object-frame .terminus-frame-infobox-box {
	padding: 4px;
	margin: 0 4px;
}

div.terminus-object-frame input,
input.terminus-form-value {
	padding: 6px 4px;
	margin: 0px 0px 10px 0px;
}

span.ql-snow{
	border: none !important;
}

div.ql-editor{
	background-color: #fff !important;
	border: 1px solid #ccc !important;
}


pre.terminus-schema-view {
	background-color: #eaf5ff;
	padding: 3px;
}

pre.terminus-api-view {
	background-color: #eaf5ff;
	padding: 3px;
}

div.terminus-url-loader {
	max-width: 500px;
}

div.terminus-form-field {
	margin-bottom: 6px;
}

div.terminus-query-page {
	min-width: 800px;
}
textarea.terminus-query-box {
	width: 680px;
	height: 80px;
	margin: 10px auto;
}
div.terminus-control-buttons {
	max-width: 700px;
}

button.terminus-change-range{
	margin-left: 10px;
}
button.object-save{
	margin-top: 5px;
}

textarea.terminus-schema-edit {
	width: 1000px;
	height: 800px;
	padding: 6px;
}

textarea.terminus-db-description {
	width: 380px;
	height: 100px;
}

.terminus-db-creator {
	width: 500px;
}

input.terminus-form-url {
	width: 360px;
}

span.terminus-form-label {
	display: inline-block;
	min-width: 100px;
	padding-right: 6px;
	text-align: right;
}

div.terminus-control-buttons {
	text-align: right;
	padding-top: 6px;
}

.terminus-header-tab {
	padding-left: 1em;
}

.terminus-db-info-box-display{
	display: flex
}

.terminus-db-info-box {
  position: relative;
  background-color: #eee;
  color: black;
  border: 1px solid #48f;
  padding: 2rem;
  text-align: center;
  width: 290px;
  margin:30px;
}

.terminus-plugin-control {
	display: inline-block;
	padding: 6px;
	border-right: 1px solid white;
	margin-right: 6px;
}

.terminus-db-controller,
.terminus-server-controller {
	min-width: 320px;
	padding-top: 10px;
}

.terminus-db-controller div,
.terminus-server-controller div {
	margin-top: 6px;
	margin-bottom: 6px;
}

.terminus-document-control {
	padding-top: 8px;
	padding-left: 6px;
}

#terminus-content-viewer .terminus-main-window {
	padding: 1em;
}

.terminus-label {
	padding-right: 6px;
}

.terminus-value {
	padding-right: 6px;
}

div.terminus-object-frame button,
.terminus-control-button {
	margin: 4px;
	padding: 6px 8px;
	background-color: #eee;
	border: 1px solid #48f;
	list-style: none;

}
div.terminus-object-frame button:hover,
.terminus-control-button:hover{
	cursor: pointer;
	background-color: #48f;
	color: white;
	font-weight: 600;
}

div.terminus-object-frame {}

div.terminus-property-frame{
	margin-bottom: 10px;
	font-weight: 600;
}

.terminus-property-label-align{
	margin-left: 20px;
	text-align: right;
	font-weight: 600;
}
.terminus-property-body-align{
	/*margin-left: 20px;*/
	text-align: left;
}

.terminus-property-values-align{
	margin-top: 20px;
}


.terminus-list-group-a {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #eee;
    border: 1px solid #48f;
	cursor: pointer;
}

.terminus-list-group-a:hover {
   background-color: #48f!important;
   color: #fff;
}



/* frameviewer styling */

select.terminus-frame-selector{
	width: 150px !important;
}

div.terminus-object-frame select,
select.terminus-class-select, select.terminus-form-select {
	padding: 6px 4px;
	width: 223px;
	margin-right: 10px;
}

div.terminus-object-frame select {
	margin-left: 2px;
	margin-right: 2px;
}

div.terminus-object-frame .terminus-frame-infobox-box {
	padding: 4px;
	margin: 0 4px;
	/*border: 1px solid red;*/
}

textarea.terminus-literal-value{
	width: 406px;
}

span.terminus-property-controls{
	float: left
}

div.terminus-object-frame button:hover,
.terminus-control-button:hover{
	background-color: #48f !important;
    color: #fff !important;
}

div.terminus-object-frame {}

div.terminus-property-frame{
	margin-bottom: 10px;
}

.terminus-property-label-align{
	margin-left: 20px;
	text-align: right;
}

.terminus-property-body-align{
	/*margin-left: 20px;*/
	text-align: left;
}

.terminus-property-values-align{
	margin-top: 20px;
}

.terminus-property-value{
	display: flex;
}

.terminus-text{
    width: 300px;
    display: block;
	margin-top: 20px;
}

.terminus-frame-btn{
	background-color: #dcdcdc;
    border: 1px solid green;
    cursor: pointer;
    display: inline-block;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    white-space: nowrap;
    padding: 4px 10px;
}
.terminus-zebra-frame{
    position: relative;
    min-height: 50px;
	border-radius: 5px;
}

.terminus-zebra-frame:nth-child(odd) {
	/*background-color: #eaedf9;*/
	background-color: #f5f5f5;
	overflow:auto;
	/*height: 250px !important;*/

}
div.terminus-property-frame{
	margin: 10px;
}

.terminus-zebra-frame:nth-child(even) {
	background-color: #faf8f9;
	overflow:auto;
	/*height: 250px !important;*/
}
