body {
}

.control-panel,
#control-panel {
	width: 380px;
	display: block;
}

.user-messages,
#user-messages {
	background-color: #008CBA;
	color: white;
	display: block;
}

div.main-page {
	display: block;
	margin: 0 2em;
	background-color: #f3f3ef;
}


span.db-controller, 
span.server-controller {
	background-color: #f3f3ef;
	display: inline-block;
	width: 100%;
	margin-bottom: 2em;
}

span.db-connection,
span.server-connection {
	display: block;
	padding: 1em;
	color: white;
	background-color: #008CBA;
	margin-bottom: 0.5em;
}

span.db-connection:hover,
span.server-connection:hover {
	cursor: pointer;
	background-color: #008CDA;
}

span.url-key-input,
.url-loader-input,
.server-details-label,
span.db-connection .db-label,
span.server-connection .server-label {
	display: inline-block;
	border-right: 1px solid #88f;
	padding-right: 4px;
	margin-right: 4px;
	width: 60px;
}

span.frame-infobox {
	padding: 4px;
	display: inline-block;
	margin-right: 8px;
}

span.frame-infobox-label {
	border-right: 1px solid #88f;
	padding-right: 4px;
	margin-right: 4px;
}

span.form-field span, span.url-field span {
	display: inline-block;
	border-right: 1px solid #88f;
	padding-right: 4px;
	margin-right: 4px;
	width: 120px;
	
}

span.db-connection .db-value,
span.server-connection .server-value {
	font-weight: 500;
}

span.url-loader {
}

span.form-field, span.url-field {
	display: block;
	margin-bottom: 1em;
	margin-right: 2em;
}

span.db-creator {
	display: block;
	padding: 1em;
}

span.db-creator-title {
	display: block;
	font-size: 1.1em;
	margin-bottom: 1em;
}

span.document-creator,
span.document-chooser {
	margin-top: 0.5em;
	display: block;
	border-top: 1px solid #AACCFA;
	margin-right: 0.5em;
	text-align: right;
}

.select2-results__options {
    font-size:20px !important;
}

.select2-selection__rendered {
    font-size:20px !important;
    margin-top: 2px;
}

span.document-chooser select.dcog-entity-class-input {
	font-size: 16px;
	padding: 0.4em;
	margin: 4px 1px 8px 4px;
}

.select2-search__field {
    line-height: 24px !important;
    font-size: 16px;
}

span.class-filter-label {
	font-size: 0.8em;
	color: #444;
	display: inline-block;
	padding-left: 4px;
	padding-right: 4px;
}

span.document-chooser .select2-selection__rendered {
    line-height: 36px !important;
    text-align: left;
}
.select2-container .select2-selection--single {
    height: 40px !important;
}
.select2-selection__arrow {
    height: 39px !important;
}

span.document-chooser .entity-reference-value {
	font-size: 1.3em;
	display: block;
	margin-right: 1.2em;
	margin-top: 4px;
	margin-bottom: 12px;
	padding-bottom: 6px;
	padding-top: 4px;
}

span.document-chooser .entity-reference-value select {
	padding: 0.2em;
	height: 2em;
}

span.create-document-list {
	display: block;
	padding: 1em 2em;
}

span.create-document-list select {
	width: 300px;
	padding: 0.5em;
	font-size: 1em;
	
}

a.document-which-chooser {
	display: block;
	font-size: 0.9em;
	text-align: right;
	text-decoration: none;
	color: #6478A3;
	padding: 6px 2px 4px 6px;
}

span.document-creator button,
span.document-chooser button{
	text-align: right;
	margin: 0.5em;	
}

span.document-creator-label,
span.document-chooser-label {
	display: none;
}

span.form-field input, span.url-field input,
input.url-key,
input.url-connect {
	margin-top: 0.5em;
	padding: 0.5em;
	width: 380px;
	font-size: 1.1em;	
}

textarea.schema-edit {
	width: 800px;
	display: block;
	height: 1000px;
	
}

span.query-page {
	padding: 1em;
	text-align: right;
	display: block;
}


textarea.query-box {
	width: 400px;
	display: block;
	height: 400px;
	margin-bottom: 1em;
	padding: 0.5em;
}

span.query-results {
	display: block;
	margin-top: 1em;
	text-align: left;
}


textarea.db-description {
	margin-top: 0.5em;
	padding: 0.5em;
	width: 400px;
	height: 120px;
	vertical-align: middle;
}

span.schema-view-header {
	text-align: right;
	width: 100%;	
}

.schema-edit {
	padding: 2em;
}

span.db-creator {
}

input.document-creator,
input.document-chooser {
	margin-top: 1em;
	margin-right: 10px;
	margin-bottom: 4px;
	padding: 0.5em;
	width: 312px;
	font-size: 1.05em;
}

button {
  border: none;
  color: #eee;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  background-color: #555555;
}

button.frame-control-action  {
  border: none;
  color: #fff;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  background-color: #555555;
}

button:hover {
	cursor: pointer;
    color: #fff;   
}

button.action-disabled:hover  {
	cursor: not-allowed;
}

button.create-document-button, button.create-db-button  {
  background-color: #4CAF50; /* Green */
}

button.create-document-button:hover, button.create-db-button:hover {
	background-color: #4CCF50; /* Green */	
}

button.url-load {
	text-align: right;
	margin-top: 1em;
}

button:hover {
	background-color: #444;
}

button.create-db-button  {
	margin: 0.2em 0.2em 0.5em 0.2em;
	
}

button.delete-db-button {
	background-color: #f44336; 
	display: block;
	margin: 0.5em;
}

span.server-details {
	display: inline-block;
	margin-bottom: 2em;
	margin-top: 1em;
	padding: 1em;
}

table.db-list {
	margin: 2em 0.5em;
	border-collapse: collapse;
}

table.db-list th {
	background-color: #008CBA;
	color: white;
	padding: 1em;
	font-weight: 300;
	border-right: 1px solid #888;
}

span.db-list-title {
	display: none;
	margin-left: 2em;
	font-size: 1.1em;
}

table.db-list td {
	padding: 1em;
}

table.db-list tr:nth-child(even) {
  background-color: #f3f8fa;
}

table.db-list tr:hover {
	cursor: pointer;
	background-color: #e4f4fa;
}

span.url-loader {
	display: block;
	padding: 1em;
}

div.sdk-footer {
	width: 100%;
	clear: both;
	padding: 3px;
}



span.content-viewer-header {
	display: none;
	margin-bottom: 2em;
}
span.document-chooser, span.document-creator {
	margin-left: 10px;	
}

span.document-creator {
	padding-bottom: 1em;
	border-bottom: 1px solid #aaa;
}

span.content-viewer-page {
	border: 1px solid #aaa;
	border-radius: 6px 6px 0 0;
	padding: 4px;
	margin-right: 4px;
}
span.content-viewer-current-page {
	border: 1px solid #aea;	
}

div.sdk-viewer {
	border: 1px solid #aaa;
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
}

button.reg-contol-button {
	margin-left: 8px;
}

div.root-frame {
	min-width: 400px;
}

div.object-frame {
	min-width: 800px;
}



div.object-header {
	color: white;
	padding: 0.5em;
	background-color: #008CBA;	
}

span.object-frame {
	display: inline-block;
	padding: 0.3em;
	background-color: #eff8ff;	
}

div.root-frame > div.object-header span.object-id {
	display: inline-block;
}

div.root-frame > div.object-header span.object-type {
	display: inline-block;
}

div.object-header .object-controls {
	float: right;
	margin-left: 1em;
}

div.object-header .object-view-property, div.object-header .object-add-property {
	display: inline-block;
	margin-right: 1em;	
}

.property-add-class,
.property-header .property-viewer {
	display: inline-block;
	margin: 2px 0;
}

span.property-change-class {
	padding: 0.3em;
}

span.property-change-label {
	padding-right: 3px;
}

span.object-viewer {
	padding-right: 1em;
}

select.object-viewer,
select.view-values,
select.change-class,
.value-facet select,
.value-viewer select,
.property-header .property-facet select,
.property-header .property-viewer select,
.object-facet select,
select.add-property,
input.object-id-input,
div.object-header .object-view-property select,
div.object-header .object-add-property select {
	padding: 0.3em;
}

.value-facet, .property-facet, .object-facet {
	padding-right: 4px;
}

button.object-delete {	
	background-color: #f44336; 
	margin: 0 0.5em;
}

button.object-save {	
	background-color: #4CCF50; /* Green */	
	margin: 0 0.5em;
}

button.object-cancel {
}

div.root-frame > .object-header button.object-save, 
div.root-frame > .object-header button.object-cancel {
	display: inline-block;
}

button.object-show, button.object-hide, button.object-clone, button.object-cancel {	
	margin: 0 0.3em;
}

div.object-header {
}

span.object-facet {
}


span.object-summary {
	width: 100px;
}

span.object-controls {
	display: inline-block;	
	text-align: right;
}

span.object-mode {
}

div.root-frame > .object-header span.object-mode {
	display: inline-block;
}	

div.root-frame > .object-header span.object-hide {
	display: none;
}



span.object-add-property {
	display: inline-block;	
}

span.object-view-property {}

span.object-delete {}

span.object-clone {}

span.object-reset {}

span.object-update {
}

span.object-show {
}




div.property-frame {
	margin-bottom: 6px;
    position: relative;  
    min-height: 100px;  
    border-top: 1px solid white;
}

span.property-frame {
	padding: 4px;
	background-color: #eff6ff;
	border: 1px solid #aaf;
	display: inline-block;
	
}

span.property-facet {
	display: inline-block;
	vertical-align: top;
}


div.property-header {
	height: 100%;
	background-color: white;
}

div.property-frame span.property-header-wrapper {
	display: inline-block;
	height: 100%;
	position: static;
	left: 0;
	top: 0;
	font-weight: 400;
	color: #212;
	width: 300px;
	background-color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 0.5em;
	padding-left: 0.5em;
}

div.property-frame span.property-header {
	background-color: white;
	display: inline-block;
}

span.property-frame span.property-header {
}

span.property-frame span.property-header-wrapper {
	display: inline;
}

div.object-properties {
	width: 1200px;
}

div.object-properties,
span.object-properties {
	padding: 1em 2px;
}


div.property-values {
	display: inline-block;
	vertical-align: top;
	padding-bottom: 1em;
	max-width: 1200px;
}

span.property-values {
	display: inline-block;
	vertical-align: top;
	padding-bottom: 1em;
	max-width: 840px;
}

span.property-header-prelude {
}

	
div.property-header span.property-label {
}

span.property-header span.property-label {
	
}

span.property-header .property-controls {
}

span.property-frame span.property-label {
	font-family: Ubuntu;
	color: #334274;
	padding-right: 3px;
	display: inline-block;
	
}	

div.property-frame span.property-label {
	font-family: Ubuntu;
	font-size: 1.2em;
	color: #334274;
	float: right;
	margin-top: 2px;
	max-width: 160px;
	display: inline-block;
}

div.property-frame 
span.property-controls {
	display: inline-block;
	width: 130px;
}

div.property-frame 
span.property-facet {
	display: block;
	margin-bottom: 4px;
}


div.property-value {
	padding: 1em;
	margin: 1em;
	background-color: #eff8ff;
}

.value-header {
	display: inline-block;
	margin: 4px 0;
}

span.property-value {
	margin: 0 4px 4px 0;
	background-color: #eff8ff;
	padding: 1em;
	display: block;
}

div.property-values span.property-value {
	display: inline-block;
	margin: 1em;
}

span.property-value-page {
	display: block;
}


span.property-value-icon,
span.property-value-label,
span.property-value-inline {
	display: inline-block;
	margin: 0 4px 4px 0;
}


span.value-controls {
}


button.add-coordinate,
button.property-save,
button.value-save,
button.property-add {
	background-color: #4CCF50; /* Green */	
	padding: 6px;
	margin: 0 2px 2px 0;
}

button.action-disabled {
	padding: 6px;
	margin: 0 2px 2px 0;
	background-color: #ECEFEE; /* Green */	
	
}

button.value-clone, button.property-clone, button.object-clone {
	background-color: #4Ca0CF; 		
} 

button.value-hide, button.property-hide, button.object-hide {
	background-color: #e8d26a;
}


button.change-range, button.value-clone, button.value-reset, button.value-cancel, button.value-hide, button.property-hide, button.value-mode-edit, button.property-cancel, button.property-save, button.property-clone, button.property-mode-edit, button.property-reset {
	padding: 6px;
	margin: 0 2px 2px 0;
}

button.change-range {
	margin-left: 4px;
}

button.delete-coordinate,
button.value-delete, button.property-delete {
	background-color: #f44336; 
	padding: 6px;
	margin: 0 2px 2px 0;
}

span.property-id {
}

span.property-type {
}

span.property-comment {
}

span.property-summary {
}

span.property-mode {
}

span.property-update {
}


span.property-cardinality {
}

span.property-view-value {
}

span.property-hide {
}

span.property-viewer {
}

span.value-type {
}

span.value-hide {
}

span.value-show {
}

span.value-summary {
}

span.value-mode {
}


span.value-facet {
	margin-left: 1em;
}

textarea.literal-value {
	height: 200px;
	width: 600px;
	padding: 0.3em 0.5em;
	font-size: 1.1em;
}

input.literal-value {
	display: inline-block;
	font-size: 1.1em;
	padding: 0.3em 0.5em;
}


span.literal-value {
	display: inline-block;
	font-size: 1.2em;
	background-color: white;
	border: 1px solid #ccc;
	padding: 0.3em 0.5em;
}

span.literal-value-range {
		
}

span.literal-value-range input {
	padding: 0.3em;
	font-size: 1.1em;
}

span.entity-reference-value {
	min-width: 330px;
	min-height: 24px;
	display: inline-block;
}

span.status-new, span.status-ok, span.status-updated {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 3px;
	color:rgba(0,0,0,0);
	margin: 2px 4px 2px 2px;
} 

.status-new {
	background-color: #88d26a;	
}

.status-updated {
	background-color: #e8d26a;
}

.status-ok {
}

button.add-coordinate {
	margin-right: 1em;
}

span.add-coordinate {
	width: 100%;
	display: inline-block;
	padding: 0.4em;
	text-align: right;
}

span.latlong {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #faf3f6;
}

.lat-long {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #faf3f6;
}

.lat-long input {
	padding: 0.3em;
	font-size: 1em;
}

.lat-long-col {
	width: 100px;
	display: inline-block;
}

div.reg-json-editor {
	width: 600px; height: 300px;
}

div.html-wysiwyg {
	min-width: 600px;
	max-width: 800px;
	min-height: 200px;
}

span.html-literal {
	display: inline-block;
	width: 100%;
	max-width: 800px;
	min-height: 100px;
}

div.gmap-window {
	width: 600px;
	height: 600px;
	border: 1px solid #aaa;
}