
.terminus-client-ui {
	font-family: 'Lexend Deca', sans-serif;
    margin: 0px;
}
.terminus-client-ui h1, .terminus-client-ui h2, .terminus-client-ui h3, .terminus-client-ui h4, .terminus-client-ui h5, .terminus-client-ui h6 {
	color: #333;
	margin-top: 0
}
.terminus-client-ui h1 small, .terminus-client-ui h2 small, .terminus-client-ui h3 small, .terminus-client-ui h4 small, .terminus-client-ui h5 small, .terminus-client-ui h6 small {
	font-size: 11px;
	margin: 0 0 0 5px
}
.terminus-client-ui h1 {
	font-size: 28px
}
.terminus-client-ui h2 {
	font-size: 24px
}
.terminus-client-ui h3 {
	font-size: 20px
}
.terminus-client-ui h4 {
	font-size: 16px
}
.terminus-client-ui h5 {
	font-size: 13px
}
.terminus-client-ui h6 {
	font-size: 11px
}
.terminus-client-ui strong, .terminus-client-ui b {
	color: #555
}

h3.terminus-query-head{
	padding: 0px 15px 0px 5px;
    font-weight: 500 !important;
}

.terminus-client-ui a:hover, .terminus-client-ui a:focus {
	outline: 0
}
.terminus-client-ui small, .terminus-client-ui .small {
	font-size: 11px
}
.terminus-client-ui pre, .terminus-client-ui code {
	padding: 1px 2px;
	font-weight: bold;
	font-size: 16px
}

.terminus-logo-container {
	display: inline-block;
    width: 200px;
    margin-right: 5px;
    content: "";
    background-size: 100%;
}

/*busy loader*/
@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 60px 0;
    }
}

@keyframes auto-progress {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
.terminus-woql-pane{
	border: 2px solid black;
}
.term-progress-bar {
	background-color: #1a1a1a;
	height: 15px;
	width: auto;
	/* margin: 50px auto; */
	border-radius: 5px;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.term-stripes {
    background-size: 30px 30px;
    background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, .15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .15) 50%,
        rgba(255, 255, 255, .15) 75%,
        transparent 75%,
        transparent
    );
}

.term-stripes.animated {
  animation: animate-stripes 0.6s linear infinite;
}

.sterm-tripes.animated.slower {
  animation-duration: 1.25s;
}

.term-stripes.reverse {
  animation-direction: reverse;
}

.term-progress-bar-inner {
  display: block;
  height: 15px;
  width: 0%;
  background-color: #00C08B;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  position: relative;
  animation: auto-progress 10s infinite linear;
}

.terminus-busy-msg{
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dt-buttons {
	margin-bottom: 10px;
	float: right;
}
div.terminus-document-view{
	margin-top: 50px;
}
.terminus-lat-long,
.latlong {
	display: block !important;
	margin-bottom: 6px;
}

button.terminus-change-range {
	margin-left: 10px;
	background-color: #dcdcdc;
    border: 1px solid green;
	background-color: #dcdcdc;
	cursor: pointer;
	display: inline-block;
	margin: 0px 5px 0px 5px;
	white-space: nowrap;
	padding: 4px 10px;
}
button.object-save, button.object-save-disabled, button.object-delete{
}
span.terminus-format-button-align{
	margin-bottom: 10px;
}
.dt-buttons.btn-group{
	float: left;
	margin-right: 2%;
}

.table.dataTable{
	margin: 0px !important;
}

.dataTables_filter {
	float: left;
	margin-top: 4px;
	margin-right: 2%;
	text-align: left;
}
.dataTables_info {
	float: right;
}
.dataTables_length{
	float: right;
	margin-top: 4px;
	margin-left: 2%;
}

/* wrapper */
.terminus-wrapper {
	background: url(../images/bg.png) #eee;
	border-bottom: 1px solid #bbb;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	padding: 30px 0
}

.terminus-wrapper-height {
 height: auto !important;
}

.terminus-client-ui form {
	margin: 0
}

.terminus-client-ui [class^="icon-"], body [class*=" icon-"] {
	font-size: 14px;
	line-height: 20px;
	height: 20px
}

.terminus-db-pointer{
 cursor: pointer;
}

.terminus-dashboard-info {
	background-color: #002856!important;
    color: #fff;
	margin: 25px 0px 25px 0px;
	text-align: left;
}

.terminus-db-list {
	width: 1000px;
}

.terminus-form-border {
	border: 1px solid #afafaf;
    background: #fff;
    box-shadow: 0 1px 15px 0 hsla(0,0%,48%,.05);
    display: flex;
    flex-direction: column;
    min-width: 0;
	/*width: 1100px;*/
	width: 1000px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .7rem;
}

.terminus-form-horizontal .terminus-control-group {
	margin-bottom: 0
}
.terminus-form-horizontal .terminus-control-group+.terminus-control-group{
	margin-top: 13px;
	padding-top: 13px;
	border-top: 1px solid #f5f5f5
}
.terminus-document-config{
	float: right;
}
.terminus-list-of-doc{
	margin: 30px 0px 30px 0px;
}
.terminus-form-horizontal .terminus-control-label{
	float: left;
    /*width: 160px !important;*/
    padding-top: 12px;
	font-size: 18px;
    text-align: right;
	min-width: 150px;
	margin: 0px 30px 10px 10px;
}
.terminus-control-label-padding{
    padding-left: 10px;
}
.terminus-form-horizontal .terminus-controls{
	display: inline-block;
	padding-left: 20px;
	margin-left: 180px;
	margin-left: 0;
}

.terminus-form-field-spacing{
	margin: 20px !important;
}

.terminus-font-align{
	margin: 10px;
	cursor:pointer;
}

.terminus-doc-input-text{
	width: 160px;
    padding: 6px 4px;
}
.terminus-input-text {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
	font-size: 18px;
    box-sizing: border-box;
	width: 600px;
}
.terminus-textarea {
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
	width: 600px;
	font-size: 18px;
}

.terminus-query-textarea{
	height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
	width: 100%;
	margin-left: 15px
}

.terminus-hover-table{
	border-collapse:collapse;
	display: table;
	border-right:lightgrey 0.2px solid;
	border-bottom:lightgrey 0.2px solid;
	/*table-layout: fixed !important; */
    width: 100%;
}

.terminus-hover-table td{
	 height: 10px;
	 border-left:lightgrey 0.2px solid;
	 padding: 10px;
	 overflow:hidden;
	 white-space: normal;
   	 word-wrap: break-word;
}

/* frameviewer styling */
.terminus-hover-table tr:nth-child(odd) {
	background-color: #EBEDEF;
}
.terminus-hover-table:nth-child(even) {
	background-color: #faf8f9;
}

/* Define the default color for all the table rows */
.terminus-hover-table tr{
	background: #f5f5f5;
}
/* Define the hover highlight color for the table row */
.terminus-hover-table tr:hover {
      background-color: #b8d1f3;
}
.terminus-table-content{
	font-size: 16px;
    text-decoration: none;
    color: black;
}

.terminus-type-select{
	padding: 6px 4px;
}

.terminus-scheme-pre{
	padding: 15px;
	color: black;
    font-weight: bold;
    font-size: 16px;
	background: #f5f5f5;
}
div.terminus-class-chooser-align{
	margin-left: 770px;
}
span.terminus-display-flex, div.terminus-display-flex{
	display: flex !important;
}
span.terminus-document-page-controls{
	display: flex;
    margin-left: 600px;
}
select.terminus-doc-config{
	height: 30px;
}
/* terminus alerts*/
.terminus-alert {
	background: #fffaef;
	border-color: #ecdcb6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	color: #b68b53;
	font-size:large;
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
}
.terminus-alert strong, .terminus-alert b {
	color: inherit
}
.terminus-alert-danger, .terminus-alert-error {
	background: #f7e7e4;
	border-color: #ecbeb6;
	color: #b55351
}
.terminus-alert-success {
	background: #eaf4e2;
	border-color: #c1dea9;
	color: #61a06f;
	font-size:large;
	text-align: left;
}
icon.terminus-ellipsis-icon{
	margin: 10px;
	color: #002856;
	cursor: pointer;
}
icon.terminus-ellipsis-icon:hover{
	color: #00C08B;
}
div.terminus-queries-submenu{
	position: absolute;
    margin-left: 180px;
	display: grid;
	background-color: #fff;
	text-align: left;
	/*min-height: 300px;*/
	max-height: 500px;
	overflow-y: auto;
}
/*@media only screen and (min-width: 1200px)
.terminus-client-ui {
    min-height: 600px;
}*/
div.terminus-load-queries{
	display: grid;
	background-color: #fff;
	text-align: left;
	width: 100%;
}
button.terminus-load-queries{
	border: 0px;
	background: #fff;
	margin: 5px 0px 5px 0px;
	padding: 5px;
	text-align: left;
	width: 100%;
}
input.terminus-doc-id-input{
	margin: 0px 10px 10px 7px;
    padding: 5px;
	width: 130px;
}
button.terminus-doc-id-input-submit{
	margin: 0px 10px 10px 0px !important;
}
button.terminus-load-queries:hover{
	color: #0055B8;
	background: #f5f5f5;
	padding: 5px;
}
div.terminus-query-submenu{
	text-align: left;
	display: flex!important;
}
button.terminus-query-section{
	color: #00C08B;
	cursor: default;
	border: 0px;
	text-align: left;
	background: #fff;
	margin: 5px;
	font-weight: 800;
	padding: 5px;
}
i.terminus-query-section{
	float: right;
	margin-right: 5px;
}
/*terminus snippet*/
span.terminus-snippet-panel{
	width: 100%;
    display: inline-flex;
}
button.terminus-snippet-button{
	padding: 10px;
	background-color: #00C08B;
    border: 1px solid green;
    color: #002856;
    font-weight: 900;
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    padding: 4px 10px;
    border-radius: 0.2rem !important;
}
button.terminus-new-query-btn{
	float: right;
    margin-top: 50px;
}
span.terminus-query-results-full{
	width: 100%;
	display: block;
	min-height: 50px;
	margin: 10px 0px 20px 0px;
}

span.terminus-query-results {
	width: 100%;
	margin: 10px 0px 20px 0px;
}


span.terminus-click-to-view-query{
	margin-top: 10px;
	z-index: 10;
	position: absolute;
}
span.terminus-result-icons, i.terminus-result-icons{
	float: right;
}
span.pane-config-icons{
	/*float: right;*/
	margin-right: 20px;
}

span.terminus-toggle-documents {
	float: right;
	margin-right: 1em;
}

span.terminus-full-query-pane {
	display: block;
	padding: 10px 30px;
	border: 1px solid grey;
    margin: 40px 10px 10px 10px;
    background-color: white;
}

button.terminus-query-config-btn{
	margin-top: 10px;
	margin-left: 30px;
}
div.terminus-rule-editor{
	border: 2px solid grey;
	background-color: whitesmoke;
	margin-top: 30px;
}
div.terminus-rule-editor-border{
	border: 1px solid grey;
	margin-top: 20px;
}
icon.terminus-cancel-rule-editor{
	float: right;
    margin: 20px 10px 10px 10px;
}
.terminus-icon-padding{
	padding-left: 5px;
}

/* terminus buttons */
.terminus-send-api-btn{
	margin-left:935px;
}

.terminus-btn {
	background-color: #00C08B;
    border: 1px solid green;
    color: #002856;
    font-weight: 900;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    /*margin-top: 10px;*/
    cursor: pointer;
    white-space: nowrap;
    padding: 4px 10px;
    /*margin-left: 10px;*/
	margin-right: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	border-radius: 0.2rem !important;
}
div.terminus-form-margin-top{
	min-height: 30px;
}
.terminus-frame-btn{
	background-color: #dcdcdc;
    border: 1px solid green;
    cursor: pointer;
    display: inline-block;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    white-space: nowrap;
    padding: 4px 10px;
}
.terminus-q-btn {
	background-color: #002856;
    border: 1px solid green;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    white-space: nowrap;
    padding: 4px 10px;
	width: 220px;
}

.terminus-del-btn {
	display: inline-block;
	margin-bottom: 10px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 4px 10px;
	margin-left: 10px;
	font-size: large;
	line-height: 1.42857;
	border-radius: 4px;
	float: right;
}

.terminus-doc-btn{
	float: unset;
    border: 1px solid transparent;
    margin-right: 15px;
    padding: 5px;
    margin-left: 4px;
}

div.terminus-home-actions {
	margin-top: 12px;
}

div.terminus-home-actions div {
	display: inline-block;
}

.terminus-doc-btn:hover{
	border: 1px solid green;
}

.terminus-delete-db-button {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 4px 10px;
	margin-left: 10px;
	font-size: 14px;
	line-height: 1.42857;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.terminus-btn.active:focus, .terminus-btn:active:focus, .terminus-btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
.terminus-btn:focus, .terminus-btn:hover {
	/*color: #767676;*/
	color: #002856 ;
	text-decoration: none;
}
.terminus-btn.active, .terminus-btn:active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

/* Terminus Collapsible */
.terminus-collapsible {
	background-color: #002856;
	border-color: #e9e9e9;
	color: #fff;
	cursor: pointer;
	padding: 10px 15px;
	width: 100%;
	border: 1px solid transparent;
	font-size: large;
	font-weight: 600;
	margin: 0;
	text-align: left;
}

.active, .terminus-collapsible:hover {
  background-color: #00C08B;
  color: #002856;
}

.terminus-collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


.terminus-headings{
	font-size: 30px;
	height: 100%;
	width: 0;
	top: 0;
	right: 0;
	color: black;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

button{
	background-color: #00C08B;
    color: #002856;
    font-weight: 600;
    cursor: pointer;
}

div.terminus-object-frame button:hover,
.terminus-control-button:hover {
	background-color: #00C08B !important;
    color: #fff !important;
}

div.terminus-control-buttons {
	width: 100%;
	display: inline-block;
	text-align: right;
	margin-top: 1em;
}

.terminus-control-buttons button {
	margin-right: 2em;
}

span.ql-snow{
	border: none !important;
}

div.ql-editor{
	background-color: #fff !important;
	border: 1px solid #ccc !important;
}


/* terminus table */
.truncate {
  /*max-width:200px;*/
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.terminus-table {
	margin-bottom: 0
}
.terminus-table th, .terminus-table td {
	border-color: #d5d5d5!important
}

.terminus-cheveron-float{
	float: right;
}
.terminus-doc-li{
	border: 1px solid black;
  background: aliceblue;
	height: 280px;
}
.terminus-ul-horizontal{
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #002856;
}
.terminus-li-horizontal {
  float: left;
}
.terminus-li-horizontal a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
}
.terminus-li-horizontal a:hover {
  background-color: #111111;
}

/* terminus module*/
.module {
	box-shadow: 0 0 3px rgba(0,0,0,.1);
	border-color: #e9e9e9;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

/* terminus module header */
.terminus-module-head {
	font-size: 24px;
	font-weight: 500 !important;
	margin: 20px 0px 20px 0px;
}
.terminus-full-css-margin-top{
    margin-top: 10px;
}
.terminus-plugin-label-full-css{
	color: white;
	background-color: black;
	padding-left: 22px;
    padding-right: 20px;
}
.terminus-explorer-hide{
	display: none;
}
.terminus-table-header-full-css{
	background-color: #002856;
    border-top: 0.5px solid #f5f5f5;
    padding: 10px 15px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 18px;
    padding-left: 30px;
    color: lightgrey;
    text-align: left;
}

.terminus-application-controls{
 margin-top: 20px
}

/* terminus module header for tab in full css style*/
.terminus-module-head-tab {
	background-color: black;
	color: white;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	font-size: 18px;
}
.terminus-module-head h3 {
	font-size: large;
	line-height: 20px;
	height: 20px;
	margin: 0
}
.terminus-control-panel-label{
	display: inline-block;
    padding: 10px 4px 10px 70px;
    border-right: 1px solid #88f;
    /* padding-left: 50px; */
    margin-top: 10px;
    /* padding-right: 4px; */
    margin-right: 4px;
    font-size: larger;
    min-width: fit-content;
    width: 60px;
}
.terminus-control-panel-value{
	padding-left: 5px;
	font-size: 14px;
}

.terminus-control-panel-table-layout{
	vertical-align: top;
	background-color: #002856;
}

.terminus-nav-body-span{
	display: inline-inline-flex;
}
.terminus-schema-textarea{
	width: 1200px;
    height: 1000px;
	margin-top: 15px;
	padding: 15px;
	font-weight: bold;
    font-size: 16px;
	background: #f5f5f5;
}
/* terminus main window on full css mode */
.terminus-main-window-full-css{
	width: 100%;
    vertical-align: top;
    padding: 0px 0px 0px 20px;
}

/* terminus module body */
.terminus-module-body {
	padding: 15px
}
.terminus-module-body-width {
	margin-left: 10px;
    width: 100%;
	display: inline-block
}
.terminus-module-body-white-bg{
	background: #fff;
}
.terminus-module-body.table {
	padding: 15px 0
}
.terminus-module-body.table .table th, .terminus-module-body.table .table td {
	padding-left: 15px;
	padding-right: 15px
}
.main-table-height{
	/*height: 800px;*/
	height: 100%
}
/* pointer cursor */
.terminus-pointer{
	cursor:pointer;
}

.terminus-icon-white{
	color: white;
}

/* terminus-madatory-icon */
.terminus-mandatory-icon{
	padding-left:5px;
	color:orange;
}

/* menu icon for sub menus */
.terminus-sub-menu-icon{
	padding-right: 10px;
}

.terminus-hand-pointer-float{
	float: right;
	color: #00C08B;
}

.terminus-header-cheveron{
	float: right;
}

.terminus-api-explorer-text-area{
	 min-width: -webkit-fill-available;
	 min-height: 6cm;
	 font-size:16px;
}

.terminus-hide{
	display: none;
}

.table-cell-layout{
	table-layout: fixed;
	width: 130%;
	white-space: pre-wrap;
    word-wrap: break-word;
}

/* signature code */
.terminus-api-signature-pre{
  font-size:18px;
	background : #f5f5f5;
	color: black;
	/*margin:30px;*/
	padding:15px;
	white-space: pre-wrap;
  word-wrap: break-word;
}

.terminus-wrap-text{
	white-space: pre-wrap;       /* Since CSS 2.1 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.terminus-home-heading{
	font-size: 28px;
    height: 100%;
    width: 0;
    color: black;
    overflow-x: hidden;
    transition: 0.5s;
}
.terminus-margin-box{
	margin: 10px;
	width: fit-content;
}
span.terminus-create-document-align{
	margin-inline-start: auto;
}
div.terminus-margin-top, table.terminus-margin-top{
	margin-top : 20px;
}
.terminus-dt-result-cont{
	width: fit-content;
}

.terminus-margin-top-bottom{
	margin-top: 30px;
	margin-bottom: 30px;
}

.terminus-db-info-box-display{
	display: flex;
    padding-left: 130px;
    border: 1px solid whitesmoke;
}

.CodeMirror {
	border: 2px solid #002856;
    /* margin: 50px; */
    font-size: 16px;
    word-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
    /*overflow: auto !important;
	resize: auto;*/
	resize: vertical;
}

.cm-s-neo.CodeMirror{
	padding: 15px;
}

.cm-s-erlang-dark.CodeMirror{
	padding: 15px;
}

.terminus-db-info-box {
	position: relative;
    background-color: #f5f5f5;
    color: #00C08B;
    height: 150px;
    text-align: center;
    width: 290px;
    margin: 30px;
    border: 2px solid #00C08B;
}

.terminus-db-info{
	font-size: 30px;
	margin: 20px;
}

.terminus-db-info-box, .terminus-icon {
	margin-right: 10px;
	padding-right:10px;
	font-size: larger;
	color: #00C08B;
}
div.terminus-simple-table-holder{
	overflow: auto;
	width: 100%;
}
table.terminus-simple-table{
	margin-top: 30px;
}
span.woql-chooser select.woql-chooser{
	padding: 5px;
	height: 36px;
}
p.terminus-welcome-body, span.terminus-welcome-chooser{
	margin-left: 65px;
}
span.terminus-welcome-title{
	margin: 10px 10px 10px 15px;
    font-size: larger;
    font-weight: 600;
    vertical-align: super;
}
div.terminus-welcome-box{
	width: 900px;
	margin: 30px;
	border-radius: 8px;
}
i.terminus-welcome-icons{
	margin: 10px;
}
.terminus-db-info-box .terminus-info-heading {
	font-size: 26px;
	color: #00C08B;
	font-weight: 500
}
.terminus-show-msg-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: 20px 0px 10px 0px;
}

.terminus-show-msg-error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: 20px 0px 10px 0px;
	word-break: break-all;
}

.terminus-show-msg-vio{
	padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 20px 10px 10px 0px;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.terminus-show-msg-warning {
	padding: 15px;
    border: 7px solid transparent;
    border-radius: 4px;
    margin: 20px 10px 10px 0px;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.terminus-show-msg-info {
	padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 20px 10px 10px 0px;
    color: #856404;
	background-color: #cce5ff;
    border-color: #b8daff;
}


.terminus-no-res-alert{
	color: #004085;
	background-color: #cce5ff;
	border-color: #b8daff;
	margin: 20px 10px 10px 0px;
	padding: 15px;
}

div.terminus-violation-property{
	margin: 10px;
	display: flex;
}
span.terminus-violation-property-value{
	margin-left: 30px;
	word-break: break-word;
}
span.terminus-violation-property-label{
	font-weight: 600 !important;
	width: 230px;
	text-align: right;
}
.terminus-violations-heading{
	font-weight: 600 !important;
}
div.terminus-violation{
	border-bottom: 0.5px solid #856404;
}
.terminus-doc-control-label{
	float: right;
    width: 710px !important;
    padding-top: 12px;
	font-size: 18px;
    text-align: left;
}

/* frameviewer styling */
.terminus-zebra-frame:nth-child(odd) {
	background-color: #EBEDEF;
	overflow:auto;
}
.terminus-zebra-frame:nth-child(even) {
	background-color: #faf8f9;
	overflow:auto;
}
.ico-property-viewer{
	display: inline-block;
    margin: 50px 0px 0px 0px;
}
.ico-property-label{
	font-size: 18px;
    color: #334274;
    padding-left: 25px;
    max-width: 200px;
	text-align: right;
	vertical-align: top;
}

.ico-property-label-w{
	padding: 4px;
    display: inline-block;
    margin-right: 8px;
	vertical-align:top;
}

.ico-value-tools{
	content: '';
    background:url('../images/icons/edit-value.png');
    background-size:cover;
    position:absolute;
    width:30px;
    height:30px;
	cursor: pointer;
    margin-left:20px;
	transition: all .2s ease-in-out;
	background-color: transparent !important;
}

.ico-object-tools{
	margin-left:5px;
}

.ico-object-header{
	border: 1px #888 solid;
	border-radius: 5px;
    margin-bottom: 0px;
    text-align: left;
	color: black;
	font-size: 16px;
	font-style: bold;
    padding: 10px;
    background-color: #ccc;
}

.ico-value-facet{
	margin-bottom: 6px;
    position: relative;
    min-height: 100px;
    border-top: 1px solid lightgrey;
}

.ico-object-properties{
	padding: 15px 10px 15px 10px;
}

.ico-property-value{
	background-color:none;
	padding-left: 40px;
	margin: 10px 4px 4px 0px;
    padding: 1em;
    display: block;
}

.terminus-popup {
  /*margin: 30px auto; */
    margin-left: 40px;
    padding: 20px;
    background: #00C08B;
    border-radius: 5px;
    width: 270px;
    position: relative;
    transition: all 5s ease-in-out;
	display: none;
}

.terminus-popup h2 {
  margin-top: 0;
  color: #333;
}
.terminus-popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  transition: all 5s ease-in-out;
}
.terminus-popup .close:hover {
  color: #06D85F;
}
.terminus-popup .content {
  max-height: 30%;
  overflow: auto;
}


.terminus-popup-property {
  /*margin: 30px auto; */
    margin-left: 40px;
    padding: 20px;
    background: whitesmoke;
    border-radius: 5px;
	color: black;
    width: 270px;
    position: relative;
    transition: all 5s ease-in-out;
	z-index: 20;
}

.terminus-popup-property h2 {
  margin-top: 0;
  color: #333;
}
.terminus-popup-property .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.terminus-popup-property .close:hover {
  color: #06D85F;
}
.terminus-popup-property .content {
  max-height: 30%;
  overflow: auto;
}

/*@media screen and (max-width: 700px){
  .terminus-popup{
    width: 70%;
  }
  .terminus-popup-property{
    width: 70%;
  }
} */
.select2-results-options {
    font-size:20px !important;
}
.select2-selection-rendered {
    font-size:20px !important;
    margin-top: 2px;
}
.select2-search-field {
    line-height: 24px !important;
    font-size: 16px;
}

span.terminus-document-chooser {
	display: inline-block;
}

span.terminus-document-chooser .select2-selection-rendered {
    line-height: 28px !important;
    text-align: left;
}

.select2-container .select2-selection--single {
    height: 32px !important;
	border-radius: 0px !important;
	color: black !important;
	width: 300px;
}

.select2-selection-arrow {
    height: 31px !important;
}

span.terminus-mapping-label {
	width: 160px;
	text-align: right;
	padding-right: 6px;
	vertical-align: top;
	display: inline-block;
}

div.terminus-mapping-field {
	margin-bottom: 1em;
}

/*@media(max-width:767px){body{padding:0!important}.wrapper{padding:20px 15px*/

/* ----- terminus control panel links -----*/
a.terminus-a {
    /*background-color: #f5f5f5 !important; */
	background-color: #002856;
	color: lightgrey;
	/*color: rgba(0, 85, 184, 0.2);*/
    /*color: #0055B8 !important;
	opacity: 20%;*/
    font-size: large;
    font-weight: bold;
}

a.terminus-a:focus, a.terminus-a:hover {
    background-color: #0055B8!important;
	color: #fff;
}

a.terminus-selected{
	border-left: 4px solid #00C08B;
	background-color: #0055B8!important;
	color: #fff;
}

a.terminus-submenu-selected{
	border-left: 4px solid #00C08B;
	background-color: #0055B8!important;
	color: #fff;
}



/* ----- document container -----*/
.document-container{
    padding-right: 15px;
    padding-left: 25px;
    width: 100%;
}

/* ----- Bootstrap card body style -----*/
.card-body-font-size{
    font-size: 20px;
}

/* ----- documentation headings -----*/
.documentation-headings{
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1px;
}

/* ----- documentation display styles -----*/
.documentation-main-display{
    display: block;
}

.documentation-main-hide{
    display: none !important;
}

.terminus-ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
	margin: 0;
}

.terminus-hz-list-group-a{
	position: relative;
    display: inline-block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.terminus-list-group-a {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.terminus-list-group-a-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
	/*font-weight: bold; */
}

.terminus-list-group-a:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.terminus-logo{
	top: 0;
	margin-top: 0px;
	color: #00C08B;
	font-size: xx-large;
	font-weight: 500;
	align-items: center;
	height: 70px;
	padding-top: 25px;
	border-bottom: 1px solid #2a3547;
	display: block;
}

.terminus-nav-width{
	width: unset;
}

.terminus-menu-icon {
	margin-right: 10px;
	padding-right:10px;
	padding-left: 30px;
	color: lightgrey;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.terminus-db-list-del-icon {
	color: #dc3545;
	cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

span.terminus-db-widget {
	width: 50px;
	text-align: center;
	display: inline-block;
}

.terminus-menu-icon:hover, .terminus-db-list-del-icon:hover{
	transform: scale(1.1);
}

.terminus-server-banner{
	display: flex;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    min-width: 100%;
    min-height: 30px;
    padding: 13px 0px;
    border: 2px solid #00C08B;
    border-radius: 5px;
}

.terminus-server-info{
	margin-left: 10px;
    color: darkgrey;
    font-size: 20px;
    font-weight: 400;
	font-size: 20px;
}

.terminus-table-size{
	flex: 0 0 76.666667%;
    max-width: 76.666667%;
}

/* terminus table */
.terminus-db-size {
	table-layout: fixed;
}

/* terminus document chooser */
.terminus-choose-by-id{
	margin: 20px 0px 20px 0px;
}

/* terminus query button grouping */
.terminus-query-group-row {
    display: grid;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 10px;
	/*background-color: whitesmoke;*/
}

.terminus-group-box {
	background-color: #002856;
    width: 242px;
    text-align: left;
}

.terminus-group {
    border: 0;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .2857rem;
}

.terminus-group:after, .terminus-group:before {
    box-sizing: border-box;
}

.terminus-group-header {
	padding: 15px 15px 0;
    border: 0;
    color: hsla(0,0%,100%,.8);
	background-color: transparent;
	text-align: center;
}

.terminus-group-sub-title{
	color: #9a9a9a;
    margin-bottom: 5px;
    font-weight: 300;
	margin-bottom: 2px;
	font-size: 14px;
}

.terminus-query-select{
	color: #494949 !important;
	text-decoration: none;
	background: #ffffff;
	border: 2px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	margin: 3px;
	width: 222px;
}

.terminus-query-text{
	color: #494949 !important;
    text-decoration: none;
    background: #ffffff;
    /* padding: 20px; */
    padding: 4px 10px;
    margin-left: 10px;
    border: 2px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    /* margin: 3px; */
    width: 130px;
}

.terminus-query-go-btn {
	color: #494949 !important;
	text-decoration: none;
	background: #ffffff;
	padding: 20px;
	border: 2px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	margin: 3px;
	width: 80px;
	margin-left: 10px;
}

.terminus-query-btn {
	color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 20px;
	border: 2px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	margin-top: 3px;
}

.terminus-query-btn:hover, .terminus-query-go-btn:hover {
	color: #000 !important;
	background: #00C08B;
	border-color: #00C08B !important;
	transition: all 0.4s ease 0s;
}

.terminus-query-btn-size{
	margin-left: 5px;
    margin-bottom: 5px;
    width: 345px;
}


.terminus-control-panel-layout {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}


div.dataTables_length {
  margin-bottom: 1em;
}

div.dataTables_info, div.dataTables_paginate {
  margin-top: 1em;
}

.sortable tr {
    cursor: pointer;
}

.terminus-expandable {
  /*background: #fff;*/
  overflow: hidden;
  color: #000;
  /*line-height: 50px;*/
  transition: all .5s ease-in-out;
  transform-origin: left top;
  /*flex: 0 0 76.666667%;
    max-width: 76.666667%;*/
  /*transform: scaleY(0);*/
 }

 .terminus-expandable:target {
  transform: scaleY(1);
}

.terminus-doc-in-focus{
	border-left: 4px solid #00C08B;
	background-color: #0055B8!important;
	color: #fff;
	border-bottom: 1px solid rgba(0,0,0,.125);
}

button.terminus-doc-btn-group{
	background-color: #00C08B;
  	border: 1px solid green;
  	color: #002856;
  	/*padding: 10px 24px;*/
  	font-weight: 900;
  	cursor: pointer;
  	float: right;
	margin-top: 5px;
}

div.terminus-margin-left-auto {
	margin-left: auto;
}

.terminus-doc-btn-group button:hover,  .terminus-doc-btn-selected{
  background-color: #0055B8 !important;
  color: #fff !important;
}

.terminus-doc-toggle-btn .terminus-tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: lightyellow;
	color: #000;
	border: 1px solid #000;
	text-align: center;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	left: 70%;
	top: 89%;
	opacity: 0;
	transition: opacity 0.3s;
}

.terminus-doc-toggle-btn:hover .terminus-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.terminus-doc-btn-gp-align{
	margin-right: 10px;
}

.terminus-dashboard-btn{
	width: 100%;
	height: 45px;
}

.terminus-dashboard-selected {
	background-color: #00C08B !important;
    color: #fff !important;
}

.terminus-dashboard-btn:hover{
	border: 1px solid green;
}

.terminus-dashboard-btn-group button {
	background-color: #002856;
  	border: 1px solid green;
  	color: #0055B8;
  	/*padding: 10px 24px;*/
  	font-weight: 900;
  	cursor: pointer;
  	float: right;
	margin-top: 5px;
}


.terminus-dashboard-btn-group button:hover,  .terminus-dashboard-btn-selected{
  background-color: #0055B8 !important;
  color: #fff !important;
}

/*@media (min-width: 768px)
.terminus-content-layout {
    flex: 0 0 100%;
    max-width: 100%;
}*/


.terminus-home-del{
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}
.terminus-create-panel{
	float: right;
}
.terminus-back-to-home {
	margin-bottom: 10px;
}

.terminus-backtohome-span:link {
  text-decoration: none;
}
.terminus-result-view-icon{
	font-size: 20px;
	margin: 0px 10px 10px 0px;
	padding: 10px;
    font-size: 20px;
    margin: 0px 2px 10px 0px;
	background-color: #00C08B;
	border: 1px solid green;
	color: #002856;
	cursor: pointer;
	border-radius: 0.2rem !important;
	/*border-radius: 50px;*/
}
.terminus-result-view-icon:hover, .terminus-snippet-button:hover, .terminus-query-view-icon:hover{
    /*transform: scale(1.2); */
	border: 1px solid #002856;
}
.terminus-view-selected, .terminus-snippet-format-selected{
	background: #002856 !important;
	color: #00C08B !important;
}

/* Smaller buttons styles */

.terminus-result-view-icon.small{
  padding: 4px 12px;
}

.terminus-backtohome-span:hover {
  text-decoration: underline;
  color: blue;
}
.terminus-content-layout{
	background-color: #f8f8ff;
	box-shadow: 0 1px 15px 0 hsla(0,0%,48%,.05);
	min-height: 900px;
	max-width: calc(100vw - 420px)!important;
}

.terminus-main-content{
	padding: 30px;
    overflow: hidden;
    /*max-width: 1240px;*/
	max-width: calc(100vw - 420px)!important;
    /*overflow-x: overlay; */
	overflow-x: auto;
}
.terminus-client-table-layout{
	height: 100%;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;
}
/*terminus status layout */
.terminus-connected-status-window-layout {
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.terminus-status-layout{
	background: #27293d;
	border: 0;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);
}

.terminus-query-section {
	border-bottom: 1px solid #002856;
}

.terminus-query-block-headers{
	color: #fff;
}

.terminus-query-inp-layout{
	display: flex !important;
}

.terminus-form-doc-value{
	width: 220px;
	padding: 6px 4px;
	margin-right: 10px;
}

.terminus-query-view-icon {
	font-size: 20px;
	padding: 10px;
	font-size: 20px;
	cursor: pointer;
	margin: 0px 2px 10px 0px;
	background-color: #00C08B;
	border: 1px solid green;
	color: #002856;
	border-radius: 0.2rem !important;
}

.terminus-doc-nav {
	border-left: 4px solid #00C08B;
	background-color: #0055B8!important;
}

.terminus-api-enc-select{
	height: 50px;
    width: 300px;
    padding: 10px;
}

/* terminus frames */
.terminus-application-header {
    color: #fff;
	padding-top: 12px;
	padding-left: 12px;
    background-color: #00C08B;
	height: 34px;
	border-radius: 4px 4px 0 0;
}

div.terminus-root-frame div.terminus-object-header {
}

div.terminus-object-frame div.terminus-object-header {
}

div.terminus-object-properties {
}

div.terminus-object-header .terminus-action-control {
}

div.terminus-property-frame {
}

div.terminus-property-frame:nth-child(odd) {
	background-color: #EBEDEF;
}


span.terminus-property-header-wrapper{
	/*display: flex;*/
}
span.terminus-property-header-info{
	/*text-align: right;*/
	/*float: left;*/
}
span.terminus-span-float-right, button.terminus-btn-float-right{}
span.property-value-view {
}

span.terminus-property-value {
}

span.terminus-property-header {
}

div.terminus-property-header {
}

div.terminus-property-values div.terminus-object-frame {
}

.terminus-property-header .terminus-property-label {
}

span.terminus-property-values {

}
/*button.terminus-schema-cancel_update, button.terminus-schema-update_schema{
	float: right;
}*/
input.terminus-schema-id-display{
	margin: 30px 0px 30px 20px;
	width: 810px;
}

button.terminus-schema-import_schema, button.terminus-schema-add_new_library{
	float: right;
}

span.sample-queries-pane {
	display: block;
	margin-top: -50px;
	margin-bottom: 20px;
}

div.terminus-load-queries {
	margin-top: 12px;
}

.terminus-new-query-pane {
	display: block;
	width: 100%;
	margin-top: 60px;
	text-align: right;
}

span.terminus-query-submit-buttons {
	display: block;
	text-align: right;
	padding: 1em 1em;
}

span.terminus-query-submit-buttons button {
	font-size: 1em;

}

span.terminus-schema-save-buttons button {
	font-size: 1.1em;
}


span.terminus-schema-save-buttons {
	display: block;
	text-align: right;
	padding: 0.2em 1em;
}

span.terminus-schema-save-buttons button {
	font-size: 1.1em;
}

select.terminus-frame-selector{
	margin-left: 4px;
	width: 120px !important;
}


select.terminus-class-select, select.terminus-form-select {
	padding: 6px 4px;
	width: 223px;
	/*margin-right: 10px;*/
}

div.terminus-object-frame select {
	margin-left: 2px;
	margin-right: 2px;
	padding: 6px 4px;
	width: 100px;
}

div.terminus-object-frame .terminus-frame-infobox-box {
	display: inline-block;
	margin-right: 10px;
}

div.terminus-object-frame input,
input.terminus-form-value {
	padding: 6px 4px;
	margin: 0px 0px 10px 0px;
}

textarea.terminus-literal-big-value{
	width: 406px;
	height: 100px;
}

span.terminus-property-controls{
	float: left
}

.terminus-zebra-frame{
    min-height: 50px;
	border-radius: 5px;
}


span.terminus-entity-reference-value {
}

.terminus-client-ui a {
	text-decoration: none;
}


span.terminus-object-id-label, span.terminus-object-type-label{

}

.terminus-frame-infobox-spacer {
	display: inline-block;
	width: 8px;
}

.terminus-property-change-label {
	display: inline-block;
	margin-right: 8px;
}
